// 공통
body{margin:0; padding:0; box-sizing:border-box;
    &::-webkit-scrollbar{display:none;}
}
ul, ol{list-style:none;}
a{text-decoration:none; color:#000;}
*, *::before, *::after{margin:0; padding:0; box-sizing:border-box; word-wrap:break-word; font-family:'NotoSansKR';}
span{display:block;}
.mob-inner{max-width:1000px; position:relative; margin:0 auto;}

$b:#000;
$f:#fff;
$gray:#979797;
$easing:cubic-bezier(0.215, 0.61, 0.355, 1);

// 미디어쿼리
@mixin responsive-1040(){
    @media(max-width:1040px){@content;
    }
}
@mixin responsive-991(){
    @media(max-width:991px){@content;}
}
@mixin responsive-480(){
    @media(max-width:480px){@content;}
}

// 믹스인
@mixin conSize($width:null, $height:null, $lh:null){width:$width; height:$height; line-height:$lh;}
@mixin display($display, $ai:null, $jc:null, $ff:null){display:$display; align-items:$ai; justify-content:$jc; flex-flow:$ff;}
@mixin position($position1, $top:null, $right:null, $bottom:null, $left:null, $zd:null){position:$position1; top:$top; right:$right; bottom:$bottom; left:$left; z-index:$zd;}
@mixin center($position2){position:$position2; top:50%; left:50%; transform:translate(-50%, -50%);}
@mixin font($fs:null, $fw:null, $color:null){font-size:$fs; font-weight:$fw; color:$color;}
@mixin afterLine(){position:relative; margin-right:5px; padding-right:5px;
    &::after{content:''; @include conSize(1px, 13px); @include position(absolute, 4px, 0); background:$b;}
    &:last-child{margin-right:0; padding-right:0;
        &::after{display:none;}
    }
}
// 검색 버튼
@mixin searchBtn(){@include conSize(20px, 20px); @include display(flex); @include position(absolute, 12px, 16px); cursor:pointer;
    &::before, &::after{content:''; position:absolute; background:$b;}
    &::before{@include conSize(14px, 14px); background:none; border:2px solid $b; border-radius:50%;}
    &::after{@include conSize(2px, 8px); right:4px; bottom:2px; transform:rotate(-45deg); background:$b;}
}
// 다음 버튼
.next-step-btn{@include conSize(100%, 44px, 44px); display:block; background:$b; color:$f; border-radius:50px; text-align:center; cursor:pointer;}
// 패스워드 가이드
.password-guide{line-height:1.8; margin:28px 0 0 0; color:#979797}
// 인증 시 시간 텍스트
.pass-time{@include position(absolute, 50%, 0); transform:translateY(-50%)}

// 폰트 사이즈
.f-12-400{@include font(12px, 400, null);}
.f-12-500{@include font(12px, 500, null);}
.f-14-400{@include font(14px, 400, null);}
.f-14-700{@include font(14px, 700, null);}
.f-16-400{@include font(16px, 400, null);}
.f-16-700{@include font(16px, 700, null);}
.f-18-700{@include font(18px, 700, null);}
.f-20-700{@include font(20px, 700, null);}
.f-24-700{@include font(24px, 700, null);}

/******************************************
헤더 
/components/Header.vue
******************************************/
.at-header{@include conSize(100%, 96px); @include display(flex, null, center, column); @include position(fixed, 0, null, null, 0, 100); padding:30px 21px 0; //background:$f;
    &-inner{@include display(flex, center, space-between, null); position: relative;
        h1{position: absolute; top:50%; left:50%; transform: translate(-50%,-50%);font-size: 16px; font-weight: normal; }
        .menu-ul{@include display(flex, center, null, null); gap:30px;
            li{@include display(flex, center, null, null); cursor:pointer;
                &.progress{font-size: 14px;}
                .search{@include searchBtn; position:relative; top:auto; right:auto; margin:2px 0 0 0}
            }
        }
    }
}

// 알림창
.Alert_container{@include conSize(100%, 100%); @include position(fixed, 48px, -100%, null, null, 999); background:$f; transition:all .5s $easing;
    &_inner{
        .alert-tit{@include display(flex, center, space-between); padding:12px 20px; @include font(12px, 400);
            p{@include display(flex);
                span{margin:0 0 0 4px;}
            }
            button{position:relative; font-weight:700; cursor:pointer;
                &::before{content:''; @include conSize(100%, 1px); @include position(absolute, null, null, 1px, 0); background:$b }
            }
        }
        .alert-list{
            li{padding:20px; border-bottom:1px solid #d9d9d9;
                .top-column{@include display(flex, flex-end, space-between); margin:0 0 4px 0;
                    .time{@include font(12px, 400, #979797);}
                }
                .bott-column{@include display(flex, null, space-between); column-gap:20px;
                    .txt-box{width:calc(100% - 84px); @include display(flex, null, space-between, column); row-gap:8px;
                        .alert-con{@include font(14px, 400);}
                        .place-info{@include display(flex);
                            p{@include afterLine; @include display(flex); column-gap:5px; padding-right:7px; @include font(12px, 400, #979797);
                                &::after{height:10px; background:#979797}
                            }
                        }
                    }
                    .alert-img{@include conSize(64px, 64px); background:#D9D9D9; border-radius:8px;}
                }
                &.notConfirm{background:#F1F1F1;}
                &.couponAlert{
                    .txt-box{width:100%;
                        .alert-con{width:calc(100% - 84px);}
                        p{@include font(12px, 400, #979797)}
                    }
                    .alert-img{display:none}
                }
            }
        }
    }
    &.active{right:0;}
}

// 검색창
.Search_container{@include conSize(100%, 100%); @include position(fixed, 48px, -100%, null, null, 999); background:$f; transition:all .5s $easing;
    &_inner{
        & > div{padding:20px;}
        // 검색 인풋창
        .search-input{
            .form-group{
                input{@include conSize(null, 44px, 44px); padding:0 16px; background:#F1F1F1; border:none; border-radius:22px;
                    &::placeholder{color:#979797}
                }
            }
            .search-btn{@include searchBtn;}
        }
        // 최근 본 운동
        .recent-work{padding-right:0;
            &-tit{@include display(flex, flex-end, space-between); margin:0 0 11px 0; padding-right:20px;
                button{color:#979797; cursor:pointer;}
            }
            .recent-work-ul{display:-webkit-box; column-gap:8px; overflow-x:auto;
                li{
                    .center-img{@include conSize(101px, 101px); background:#D9D9D9; border-radius:8px;}
                    p{margin:8px 0 0 0; @include font(14px, 400);}
                    &:last-child{margin:0 20px 0 0;}
                }
            }
        }
        // 최근 검색어
        .recent-search-word{
            &-tit{@include display(flex, flex-end, space-between); margin:0 0 3px 0; 
                button{color:#979797; cursor:pointer;}
            }
            &-ul{
                li{@include display(flex, center, space-between); padding:9px 0; @include font(14px, 400); border-bottom:1px solid #D9D9D9;
                    button{@include conSize(18px, 18px); @include display(flex, center, center); position:relative; cursor:pointer;
                        &::before, &::after{content:''; @include conSize(100%, 1px); position:absolute; background:$b;}
                        &::before{transform:rotate(45deg)}
                        &::after{transform:rotate(-45deg)}
                    }
                }
            }
        }
    }
    &.active{right:0;}
}

/******************************************
풋터
/components/Footer.vue
******************************************/
.at-footer{width:100%; @include position(fixed, null, null, 0, 0, 99); padding:15px 0; background:$f; border-top:1px solid #F1F1F1;
    &-inner{
        ul{@include display(flex, center, null, null);
            li{flex:1;
                a{@include display(flex, center, center, column);
                    .quick-menu-icon{@include conSize(28px, 28px);
                        @for $i from 1 to 5{
                            &-#{$i}{background:url(../image/quick-menu-icon-#{$i}-off.png) no-repeat center;}
                        }
                    }
                    p{margin:5px 0 0 0; color:$gray;}
                }
            }
        }
    }
}