/******************************************
공통 적용되는 레이아웃 믹스인
******************************************/
// 플레이스 보기, 결제 내역 보기, 공유하기 등 모달창
@mixin placeList(){@include conSize(132px, null, null); @include position(absolute, 40px, 0, null, null, 99); padding:8px; background:$f; border-radius:8px; box-shadow:0px 3px 9px rgba(0,0,0, .05); text-align:left;
    li{line-height:1.2; padding-bottom:5px; margin-bottom:5px; border-bottom:1px solid #D9D9D9; 
        a, button{@include font(12px, 400, $b); cursor:pointer;}
        &:last-child{padding-bottom:0; margin-bottom:0; border-bottom:none;}
    }
}

// [ 더 보기 > ] 모양
@mixin more(){@include display(flex, center); column-gap:8px; @include position(absolute, null, null, 12px, 12px); color:#979797; cursor:pointer;
    span{@include conSize(6px, 8px); @include display(flex, center, center); position:relative;
        &::before, &::after{content:''; @include conSize(100%, 1px); position:absolute; background:#979797;}
        &::before{transform:rotate(45deg); margin:0 0 4px 0;}
        &::after{transform:rotate(-45deg); margin:4px 0 0 0;}
    }
}

@mixin aTag(){@include conSize(100%, 38px, 36px); @include display(flex, center, center); column-gap:10px; margin:9px 0 0px 0; background:$b; color:$f; border-radius:19px;}

@mixin liTag(){@include conSize(null, 28px, 26px); position:relative; z-index:10; padding:0 12px; word-break:keep-all; border:1px solid #D9D9D9; border-radius:14px; cursor:pointer;
    @include responsive-360{@include conSize(null, 26px, 25px);}
}
// 플레이스 상세 - 24시/P.T/그룹 P.T/골프 태그 참고
@mixin liTag2(){@include conSize(null, 22px, 20px); padding:0 8px; @include font(12px, 400, $b); border:1px solid #EAEFF9; border-radius:5px;}

// 플레이스 상세 - 하단 문의하기/운동 선택하기 버튼
@mixin bottLnb(){width:100%; @include display(flex); column-gap:8px; @include position(fixed, null, null, 0, 0, 155); padding:12px 20px 32px; background:$f; border:1px solid #F6F7FA; border-radius:16px 16px 0 0;
    a, button{@include conSize(null, 44px, 42px); margin:0; border-radius:5px; cursor:pointer;
        &:first-child{@include font(14px, 500, $b); background:$f; border:1px solid #EAEFF9; color:$b;}
        &:last-child{@include font(14px, 700, $f); background:$purple;}
    }
}
/******************************************
모달창
******************************************/
// 불투명 검정 뒷 배경
@mixin overLay(){@include conSize(100%, 100%); @include position(absolute); z-index:-1; background:rgba(0, 0, 0, .3);}

// 하단 버튼 2개일 경우(나가기/머무르기 같은)
@mixin bottLnb2(){@include display(flex); column-gap:8px; margin:0;
    button{@include conSize(100%, 44px, 42px); @include font(14px, 500); border-radius:5px; cursor:pointer;
        &:first-child{background:#F6F7FA; color:#6B6F77;}
        &:last-child{background:$purple; color:$f;}
    }
}
/******************************************
메인 페이지
******************************************/
// 플레이스 수강권 미등록p 대표 트레이너 이미지
@mixin homePlaceImgBox(){@include conSize(100%, 700px); position:relative;
    img{@include conSize(100%, 100%); object-fit:cover;}
    &::before{content:''; @include conSize(100%, 100%); @include position(absolute, 0, null, null, 0); box-shadow:inset 0 -230px 130px rgba(0,0,0, .7);
        @include responsive-480{box-shadow:inset 0 -160px 130px rgba(0, 0, 0, 0.7);}
    }

    @include responsive-991{height:70vw;}
    @include responsive-480{height:360px;}
}

// 프로그레스 박스
@mixin placeProgress(){margin:0 0 18px 0;
    .progress-bar{position:relative; padding:24px 0 0 0;
        //input{width:100%;}
        .progress-character{max-width:70px; margin:0 auto; text-align:initial;
            &.ing1{margin-left:0;}
            &.ing3{margin-right:0;}
        }
        .progress-bubble{max-width:65px; margin:0 auto; padding:5px 10px; @include font(12px, 400, $f); text-align:center;
            &.ing1{margin-left:0; background:url('@/assets/image/progress-bubble-1.png') no-repeat center / cover}
            &.ing2{background:url('@/assets/image/progress-bubble-2.png') no-repeat center / cover}
            &.ing3{margin-right:0; background:url('@/assets/image/progress-bubble-3.png') no-repeat center / cover}
        }
        .progress-value{@include conSize(100%, 8px); overflow:hidden; margin:6px 0 0 0; background:#F6F7FA; border-radius:4px;
            .step{height:100%; border-radius:4px;
                &.ing1{width:8px; background:$purple;}
                &.ing2{width:50%; background:linear-gradient(to right, #915EFF, #44A5FF)}
                &.ing3{width:100%; background:linear-gradient(to right, #915EFF, #44A5FF, #00FD65)}
            }
        }
    }
    .progress-date{@include display(flex, null, space-between); margin:6px 0 0 0; @include font(12px, 400, $f);}
}

// 운동 내역 리스트
@mixin placeImgBox(){@include conSize(92px, 92px); margin:0 auto; border-radius:8px;
    img{@include conSize(100%, 100%); object-fit:cover;}
}
@mixin placeHistory(){margin-bottom:20px; padding-bottom:20px; border-bottom:1px solid #F1F1F1;
    .top-column{@include display(flex, center, space-between); margin:0 0 13px 0;
        .f-12-400{@include display(flex); color:$gray2; 
            p{@include afterLine; margin-right:5px; padding-right:7px;
                &::after{height:11px; top:3px; background:$gray2;}
            }
        }
        .lnb{@include display(flex); column-gap:25px;
            .menu-dot{@include menuDot();
                span{background:$b;}
                .place-list{@include placeList();}
            }
        }
    }
    .mid-column{@include display(flex, null, space-between); column-gap:24px; margin:0 0 8px 0; padding:0; border-bottom:0;
        .txt-box{width:calc(100% - 116px); @include display(flex, null, space-between); flex-flow:column; color:$b;
            .date{@include display(flex); column-gap:14px;
                p{@include display(flex, center); column-gap:3px;
                    .blue-dot{@include blueDot}
                    .purple-dot{@include purpleDot}
                }
            }
            @include responsive-360{width:100%; row-gap:3px;}
        }
        .img-box{@include placeImgBox(); margin:0;
            @include responsive-360{margin:5px 0 0 0}
        }
        @include responsive-360{flex-flow:column;}
    }
    .bott-column{
        div{@include display(flex, center, space-between); padding:9px 12px; background:#F6F7FA; border-radius:5px;
            p{color:$gray2;}
            a{@include conSize(null, 26px, 25px); display:block; padding:0 12px; background:$f; border-radius:5px; color:$b}
        }
        //& > a{@include aTag(); background:$f; color:$b;}
        button{@include conSize(100%, 44px, 42px); margin:8px 0 0 0; @include font(12px, 500, $b); border:1px solid #C1C6D1; border-radius:5px; color:$b; cursor:pointer;}
    }
    &:last-child{margin-bottom:0; padding-bottom:0; border-bottom:none;}
}

// 전체보기 버튼 - 첫방문p 맨 끝 슬라이드 전체보기 참고
@mixin allBtn(){max-width:100px; text-align:center;
    .arrow-circle{@include conSize(45px, 45px); @include display(flex, center, center, null); margin:0 auto; background:$f; border:1px solid $gray; border-radius:50%;
        span{@include conSize(15px, 2px); position:relative; background:$gray; border-radius:10px;
            &::before, &::after{content:''; @include conSize(calc(100% - 7px), 2px); position:absolute; right:0; background:inherit; border-radius:5px;}
            &::before{bottom:3px; transform:rotate(45deg)}
            &::after{top:3px; transform:rotate(-45deg)}
        }
    }
    p{margin:9px 0 0 0; color:$gray;}
}

/******************************************
/routes/order
- 주문내역 리스트, 상세 / 취소 상세
******************************************/
// 주문 일시, 번호
@mixin orderCurrent(){@include display(flex, null, space-between); color:#979797;
    .left-column{@include display(flex);
        p{@include afterLine; padding-right:8px;
            &::after{height:10px; background:#979797;}
        }
    }
    @include responsive-320{flex-flow:column;}
}

// 수강회원 정보
@mixin memberInfo(){padding-top:16px; padding-bottom:16px;
    &-tit{margin:0 0 10px 0;}
    &-input{
        & > div{@include display(flex, center); margin:0 0 8px 0; @include font(14px, 400);
            span{width:80px;}
            div{width:calc(100% - 80px); color:#979797;}
            &:last-child{margin:0;}
            @include responsive-320{font-size:12px;}
        }
        span{width:80px;}
        .form-group{width:calc(100% - 80px);
            input{@include conSize(null, 32px, 32px); padding:0 10px; background:#F1F1F1; border-radius:16px;
                &:focus{border:none;}
            }
        }
    }
}

// 주문 상품
@mixin orderProduct(){
    &-tit{@include display(flex, center, space-between); margin:0 0 13px 0;
        .f-16-700{@include display(flex, flex-end); column-gap:7px;
            span{margin:0 0 1px 0; color:#979797;}
        }
        .arrow{@include arrow2();}
    }
    &-list{overflow:hidden; border-radius:8px;
        li{@include display(flex, center, space-between); position:relative; padding:13px 12px; @include font(14px, 400); background:#F1F1F1;
            .place-addr{color:#979797;}
            &.place-ref-info{background:#D9D9D9}
            &::after{content:''; @include conSize(calc(100% - 24px), 1px); @include position(absolute, null, null, 0, 50%); transform:translateX(-50%); background:#d9d9d9;}
            &:last-child::after{display:none;}
        }
    }
}

// 결제 정보
@mixin orderInfo(){
    &-tit{@include display(flex, null, space-between); margin:0 0 13px 0;
        p{@include display(flex, flex-end); column-gap:7px;
            span{color:#979797}
        }
        .arrow{@include arrow2();}
    }
    &-list{
        &-1{@include display(flex); flex-flow:column; margin:0 0 8px 0; padding:0 0 8px 0; border-bottom:1px solid #F1F1F1;
            div{@include display(flex, null, space-between); padding:2px 0;}
        }
        &-2{
            li{@include display(flex, null, space-between); padding:3px 0; @include font(12px, 400, #979797);
                div{@include display(flex);
                    span{@include conSize(6px, 6px); margin:3px 7px 0 0; border:1px solid #979797; border-top:0; border-right:0;}
                }
            }
        }
    }
}

// 결제 완료 안내 -> 구조 /routes/place/PlacePay_Complete.vue 참고
@mixin completeGuide(){text-align:center;
    .complete-img-box{margin:0 0 15px 0;}
    .f-20-500{line-height:1.3;}
    .f-14-400{line-height:1.4; margin:8px 0 20px;}
    //button{@include aTag; @include conSize(null, 44px, 44px); margin:0 0 14px 0; background:$f; border:1px solid $purple; color:$purple; cursor:pointer;}
    .order-num{color:#979797;}
}

/******************************************
필터 스크롤 - 거리순/수강기간/지역 등등 부분
******************************************/
@mixin filterScroll(){display:-webkit-box; padding:20px 0; margin:0 20px; overflow-x:auto;
    li{@include conSize(null, 32px, 30px); @include display(flex, center); margin:0 5px 0 0; padding:0 16px; @include font(12px, 500, #6B6F77); background:#F6F7FA; border-radius:16px;
        span{@include arrow;}

        &:first-child{
            &::after{height:16px; top:5px; right:-12px; background:$light-gray;}
        }
        &:last-child{margin:0 0 0 0;}

        &.filter{padding:0 8px; background:#f5f5f5; border:none;}

        @include responsive-320{font-size:12px;}
    }
}
.filter-scroll{@include filterScroll; 
    li{color:#979797;
        img.location{margin:0 5px 0 0;}
    }

    @include responsive-360{margin:0 15px;}
}

/******************************************
플레이스
******************************************/
// 1:1 트레이너 나열 -> 구조  @/routes/place/placeTrinaer.vue
@mixin placeTrainerList(){
    .trainer-info{height:500px; @include display(flex, null, space-between, column); position:relative; overflow:hidden; border-radius:5px;
        .txt-box{@include conSize(100%, 100%); @include position(absolute, 0, null, null, 0); @include display(flex, null, space-between, column); padding:12px 20px 12px 12px;
            .rank{@include conSize(null, 22px, 21px); max-width:50px; display:inline-block; padding:0 8px; @include font(12px, 400, $f); background:$b; border-radius:5px;
                &.fake{opacity:0; visibility:hidden}
            }
            div{@include display(flex, flex-end, space-between);
                p{@include font(14px, 400, $f);
                    span{font-weight:500}
                }
            }
        }
        .img-box{@include conSize(100%, 100%);
            img{@include conSize(100%, 100%); object-fit:cover}
        }
        
        @include responsive-991{height:50vw;}
        @include responsive-480{height:220px;}
    }
    .trainer-comment{line-height:1.8; @include ellipsis(3); padding:9px 12px 5px; margin:8px 0 0 0; @include font(12px, 400, $gray2); background:#F6F7FA; border-radius:8px;}
}
// 운동기구 나열 -> 구조 @/routes/place/PlaceMachine.vue
@mixin placeMachineList(){
    .place-machine{
        .place-machine-tit{margin:0 0 10px 0;}
        &-form{margin-bottom:16px;
            &:last-child{margin-bottom:0;}
        }
        &-list{margin:0 0 16px 0;
            &-tit{@include font(14px, 400)}
            ul{@include display(flex); flex-flow:wrap; gap:10px 6px;
                li{@include liTag2;}
            }
            &:last-child{margin:0;}
        }
    }
}

// 트레이너 리스트 -> 구조  @/components/place/TrainerData.vue
@mixin placeTrainerList2(){padding:0 0 16px; margin:0 0 16px; border-bottom:1px solid #D9D9D9;
    .top-column{@include display(flex, flex-start, space-between);
        .left-row{
            .trainer-info{@include display(flex); column-gap:3px;
                .starBox{
                    .total-scope{@include display(flex, center); column-gap:3px;}
                }
            }
            .location-info{margin:5px 0 0 0;
                p{color:$gray2;}
            }
            @include responsive-320{width:100%; order:2; gap:8px 0;}
        }
        .right-row{@include conSize(102px, 102px); background:#D9D9D9; border-radius:8px;
            @include responsive-320{order:1;}
        }
        @include responsive-320{flex-flow:column; gap:10px 0;}
    }
    .bott-column{line-height:1.8; padding:8px 12px; margin:8px 0 0 0; background:#F6F7FA; border-radius:8px; color:$gray2}
    &:last-child{border-bottom:0;}
}
// 플레이스 리스트(와이어프레임 기준) -> 구조 @/components/place/PlaceData.vue, 주석친 곳 보면 됨
@mixin placeList2(){padding:0 20px 16px; margin:0 0 16px 0; border-bottom:1px solid #D9D9D9;
    .top-column{@include display(flex, null, space-between); column-gap:37px;
        .left-row{width:calc(100% - 139px); @include display(flex, null, space-between, column);
            .place-txt-box{
                .place-info{@include display(flex); gap:0 5px;}
                .location-info{margin:3px 0 0 0; color:$gray;}
            }
            .place-filter-list{@include filterScroll; margin:0; padding:0;
                li{@include conSize(null, 22px, 22px); padding:0 8px; margin:0 5px 0 0; @include font(12px, 400, $b);
                    &:first-child{margin-right:5px;
                        &::after{display:none;}
                    }
                }
            }
            @include responsive-320{width:100%; order:2; gap:8px 0;}
        }
        .right-row{@include conSize(102px, 102px); background:$light-gray-1; border-radius:8px;
            @include responsive-320{order:1;}
        }
        @include responsive-320{flex-flow:column; gap:10px 0;}
    }
    .bott-column{line-height:1.7; padding:8px 12px; margin:8px 0 0 0; background:#f9f9f9; border-radius:8px; color:#979797}
    &:last-child{border-bottom:0;}
}
// 플레이스 리스트2(디자인 시안 기준) -> 구조 @/components/place/PlaceData.vue
@mixin placeList3(){margin:0 0 16px; padding:0 0 16px; border-bottom:1px solid #EAEFF9;
    .top-column{
        .name{@include display(flex); column-gap:4px;}
        .location{margin:5px 0 0 0; color:$gray2;}
    }
    .mid-column{margin:10px 0;
        .place-rep-box{position:relative; overflow:hidden; border-radius:5px;
            .img-box{@include conSize(100%, 700px); overflow:hidden; border-radius:5px;
                img{@include conSize(100%, 100%); object-fit:cover;}

                @include responsive-991{height:70vw;}
                @include responsive-480{height:200px;}
            }
            .tag-box{width:100%; @include display(flex, center); column-gap:20px; position:absolute; bottom:0; padding:13px 20px; background:rgba(0,0,0, .5);
                li{@include font(10px, 500, $f);
                    &.tag-all{position:absolute; right:20px; padding:0 8px; background:$f; border-radius:5px; color:$b;}
                }
            }
        }
    }
    .bott-column{line-height:1.8; padding:8px 12px; @include font(12px, 400, $gray2); background:#F6F7FA; border-radius:8px;}
    &:last-child{border-bottom:0;}
}

/******************************************
라디오 박스1
******************************************/
// 원 안에 체크 이미지(운동 선택 참고)
@mixin radioBox1(){
    input[type='radio']{position:absolute; opacity:0; appearance:none; -webkit-appearance:none;
        + label{@include display(flex, center, space-between); @include font(14px, 400, $b); cursor:pointer;
            .outSide{@include conSize(24px, 24px); @include display(flex, center, center); background:#F1F1F1; border:1px solid #D9D9D9; border-radius:50%;
                span{@include conSize(12px, 12px); opacity:0; visibility:hidden; background:$b; border-radius:50%;}
            }
        }
        &:checked + label{font-weight:700;
            .outSide{background:url('@/assets/image/input-checkbox-checked.png') center no-repeat;
                //span{opacity:1; visibility:visible;}
            }
        }
    }
}
// 체크 시에만 체크 이미지 노출(솔팅 모달창 참고)
@mixin radioBox2(){
    input[type='radio']{position:absolute; opacity:0; appearance:none; -webkit-appearance:none;
        + label{@include display(flex, center, space-between); @include font(14px, 400, $b); cursor:pointer;
            .outSide{@include conSize(28px, 15px); @include display(flex, center, center);
                //span{@include conSize(12px, 12px); opacity:0; visibility:hidden; background:$b; border-radius:50%;}
            }
        }
        &:checked + label{@include font(null, 700, $purple);
            .outSide{background:url('@/assets/image/input-checkbox-checked2.png') center no-repeat;
                //span{opacity:1; visibility:visible;}
            }
        }
    }
}
// 원 안에 원(후기 작성 참고)
@mixin radioBox3(){
    input[type='radio']{position:absolute; opacity:0; appearance:none; -webkit-appearance:none;
        + label{@include display(flex, center, space-between); @include font(14px, 400, $b); cursor:pointer;
            .outSide{@include conSize(19px, 19px); @include display(flex, center, center); background:$light-blue; border:1px solid $light-blue2; border-radius:50%;
                span{@include conSize(9px, 9px); opacity:0; visibility:hidden; background:$f; border-radius:50%;}
            }
        }
        &:checked + label{
            .outSide{background:$purple;
                span{opacity:1; visibility:visible;}
            }
        }
    }
}

/******************************************
리뷰
******************************************/
// 작성자 정보(이름, 별점, 좋아요 등) -> 구조 PlaceReview.vue
@mixin WriterInfo(){@include display(flex, null, space-between); margin-bottom:20px; padding:0 20px 15px;
    .left-row{@include display(flex); column-gap:8px;
        .user-profile{@include conSize(40px, 40px); border-radius:50%; background:#D9D9D9;}
        .writer-info{
            p{@include display(flex, flex-end); column-gap:8px;
                span{color:$gray2}
            }
        }
    }
    .right-row{@include display(flex, center); column-gap:21px;
        .like-box{@include liTag2; @include conSize(null, 30px, 28px); @include display(flex, center, center); column-gap:8px; padding:0 12px; @include font(14px, 400, #323232); cursor:pointer;
            .like-img{@include conSize(13px, 14px); background:url('@/assets/image/like.png') no-repeat center / cover;
                &.like{background:url('@/assets/image/like-on.png') no-repeat center / cover;}
            }
        }
        .menu-dot{@include menuDot;}
        .review-sorting-list{@include placeList;}
    }
}

/******************************************
ul 안에 ul - 메인(첫방문) 트레이너 토글 참고
******************************************/
@mixin ulToggle(){@include conSize(null, 32px, 30px); position:relative; z-index:10; padding:0 12px; border:1px solid #D9D9D9; border-radius:50px; background:$f; cursor:pointer;
    & > li{@include display(flex, center, null, null); @include font(12px, 400);
        .arrow{@include arrow();}
    }
    ul{@include conSize(100%, null, 1.3); @include position(absolute, calc(100% + 5px), null, null, 0); padding:10px 12px; border:1px solid $light-gray-1; border-radius:10px; background:$light-gray; 
        li{margin-bottom:5px; @include font(12px, 400);
            &:last-child{margin-bottom:0;}
        }
    }
}

/******************************************
최근 검색한 지역, 검색어 
******************************************/
.search-layout{
    &-tit{@include display(flex, flex-end, space-between); margin:0 0 11px 0;
        button{color:$gray2; cursor:pointer;}
    }
    &-ul{
        li{@include display(flex, center, space-between); padding:14px 0; @include font(14px, 400); border-bottom:1px solid $light-blue2;
            button{@include close; @include conSize(18px, 18px);
                &::before, &::after{@include conSize(100%, 1px); background:$light-blue2}
            }
        }
    }
}

/******************************************
탭 애니메이션 레이아웃
******************************************/
@mixin TabList(){@include display(flex, center); border-bottom:1px solid #EAEFF9;
    li{flex:1; position:relative; padding:0 0 15px 0; text-align:center;
        button{@include font(16px, 400);
            @include responsive-480{font-size:14px;}
        } 
        &.active{
            button{@include font(null, 700);}
            &::before{content:''; @include conSize(100%, 4px); @include position(absolute, null, null, 0, 0); background:$b;}
        }
    }
}
@mixin useTab(){@include TabList; display:-webkit-box; position:relative; overflow-x:auto;
    li{flex:initial; padding:0 22px 15px; @include font(12px, 500, #6B6F77); cursor:pointer;
        &.active{color:$purple;}
        &::before{display:none;}
    }
    .nav-indicator{height:1px; position:absolute; padding:0; background:$purple; transition:all .35s $easing;}    
}
.slide-wrap{overflow:hidden;
    &-inner{position:relative;
        .slide-ul{@include useTab;}
        .tabContentWrap{@include conSize(100%, 100%); @include display(flex); position:relative; z-index:1; box-sizing:content-box; transition-property:transform; transition:all .5s $easing;
            & > ul, & > div{@include conSize(100%, 100%); flex-shrink:0; position:relative; padding:0 20px;
                @include responsive-360{padding:0 15px;}
            }
        }
        &::before, &::after{content:''; @include conSize(100%, 100%); position:absolute; top:0; z-index:99; background:$f;}
        &::before{left:-100%;}
        &::after{right:-100%;}
    }
}

// 필터 레이아웃2
@mixin useTab2(){@include conSize(null, 40px, 38px); max-width:180px; z-index:1; display:-webkit-box;
    margin:0 auto; padding:4px 6px; overflow:visible; 
    background:$light-gray; border-radius:20px;
    
    li{min-width:84px; @include display(flex, center, center); padding:0; color:$gray;}
    .nav-indicator{height:32px; bottom:3px !important; z-index:-1; background:$f; border-radius:16px;}
}