

// 인풋, 버튼 초기 설정
button, input{background:none; border:none;
    &:focus, &:active{outline:none; box-shadow:none;}
}
.form-group{position:relative;
    input[type='text'],
    input[type='password'],
    input[type='email'],
    input[type='tel']{@include conSize(100%, 70px, 70px); border:none; @include font(14px, 400, $b); border-bottom:1px solid #f1f1f1; transition:all .3s $easing;
        &::placeholder{@include conSize(null, 70px, 70px); @include font(inherit, inherit, #D9D9D9);}
        &:focus{border-bottom-color:$b;}
    }
    input[type='checkbox']{position:absolute; top:0; appearance:none; -webkit-appearance:none; opacity:0; 
        + label{@include display(flex, center); column-gap:10px; cursor:pointer;
            span{@include conSize(15px, 15px); background:#d9d9d9; border-radius:50%;}
        }
        &:checked + label{
            span{background:$gray;}

        }
    }
    input[type='range']{height:8px; appearance:none; -webkit-appearance:none; overflow:hidden; background:#D9D9D9; border-radius:50px;
       //&::-webkit-slider-runnable-track{}
        &::-webkit-slider-thumb{appearance:none; -webkit-appearance:none; @include conSize(8px, 8px); background:$b; border-radius:50%;}
    }
}
textarea{width:100%; max-height:150px; padding:16px; outline:none; resize:none; background:#F1F1F1; border:none; border-radius:8px;}

.form-group2{position:relative;
    input[type='text'],
    input[type='file'],
    input[type='email']{@include conSize(100%, 44px, 42px); padding:0 16px; @include font(12px, 400, #979797); background:#F1F1F1; border-radius:8px;
        &:focus{border:none}
        &::placeholder{color:#979797}
    }
    input[type='file']{appearance:none; -webkit-appearance:none; position:absolute; opacity:0;
        + label{@include conSize(null, 44px, 42px); display:block; padding:0 16px; @include font(12px, 400); background:#F1F1F1; border-radius:8px; color:#979797;}
    }
    textarea{min-height:150px; @include font(12px, 400, #979797);
        &::placeholder{color:#979797}
    }
}

/******************************************
공통 적용되는 레이아웃 믹스인
******************************************/
@mixin menuDot(){position:relative; cursor:pointer;
    span{@include conSize(5px, 5px); @include position(absolute, 50%, 0); transform:translateY(-50%); background:$b; border-radius:50%;
        &::before, &::after{content:''; @include conSize(100%, 100%); @include position(absolute); left:0; background:inherit; border-radius:50%;}
        &::before{top:-7px;}
        &::after{bottom:-7px;}
    }
}

@mixin placeMachineList(){
    .place-machine{
        &-tit{margin:0 0 10px 0;}
        &-list{margin:0 0 16px 0;
            &-tit{@include font(14px, 400)}
            ul{@include display(flex); flex-flow:wrap; gap:4px;
                li{@include liTag; font-size:12px;}
            }
            &:last-child{margin:0;}
        }
    }
}

@mixin aTag(){@include conSize(100%, 38px, 36px); @include display(flex, center, center); column-gap:10px; margin:9px 0 0px 0; background:$b; color:$f; border-radius:19px;}
@mixin liTag(){@include conSize(null, 28px, 28px); position:relative; z-index:10; padding:0 12px; word-break:keep-all; border:1px solid #D9D9D9; border-radius:14px; cursor:pointer;}
@mixin overLay(){@include conSize(100%, 100%); @include position(absolute); z-index:-1; background:rgba(0, 0, 0, .3);}
@mixin allBtn(){max-width:100px; text-align:center;
    .arrow-circle{@include conSize(45px, 45px); @include display(flex, center, center, null); margin:0 auto; background:$f; border:1px solid $gray; border-radius:50%;
        span{@include conSize(15px, 2px); position:relative; background:$gray; border-radius:10px;
            &::before, &::after{content:''; @include conSize(calc(100% - 7px), 2px); position:absolute; right:0; background:inherit; border-radius:5px;}
            &::before{bottom:3px; transform:rotate(45deg)}
            &::after{top:3px; transform:rotate(-45deg)}
        }
    }
    p{margin:9px 0 0 0; color:$gray;}
}
@mixin more(){@include display(flex, center); column-gap:8px; @include position(absolute, null, null, 12px, 12px); color:#979797; cursor:pointer;
    span{@include conSize(6px, 8px); @include display(flex, center, center); position:relative;
        &::before, &::after{content:''; @include conSize(100%, 1px); position:absolute; background:#979797;}
        &::before{transform:rotate(45deg); margin:0 0 4px 0;}
        &::after{transform:rotate(-45deg); margin:4px 0 0 0;}
    }
}
@mixin bottLnb(){width:100%; @include display(flex); column-gap:8px; @include position(fixed, null, null, 0, 0, 155); padding:12px 20px 32px; background:$f; border:1px solid #D9D9D9; border-radius:16px 16px 0 0;
    a, button{@include aTag; @include conSize(null, 44px, 44px); margin:0;
        &:first-child{background:$f; color:$b; border:1px solid $b;}
    }
}

.starBox{@include display(flex)}

.line{display:inline-block; position:relative;
    &::after{content:''; @include conSize(100%, 1px); @include position(absolute, null, 0, 1px, null); background:$b;}
}

/******************************************
메인 페이지
******************************************/
@mixin placeList(){@include conSize(132px, null, null); @include position(absolute, 40px, 0, null, null, 99); padding:8px; background:$f; border-radius:8px; box-shadow:0px 3px 9px rgba(0,0,0, .05);
    li{line-height:1.2; padding-bottom:5px; margin-bottom:5px; border-bottom:1px solid #D9D9D9;
        a{@include font(12px, 400, $b);}
        &:last-child{padding-bottom:0; margin-bottom:0; border-bottom:none;}
    }
}
@mixin placeImgBox(){@include conSize(92px, 92px); margin:0 auto; border-radius:8px; background:#D9D9D9;}
@mixin placeHistory(){margin-bottom:20px; padding-bottom:20px; border-bottom:1px solid #F1F1F1;
    .top-column{@include display(flex, center, space-between); margin:0 0 10px 0;
        .f-12-400{@include display(flex); color:#979797;
            p{position:relative; margin-right:5px; padding-right:5px;
                &::after{content:''; @include conSize(1px, 11px); @include position(absolute, 4px, 0); background:#979797;}
                &:last-child{margin-right:0; padding-right:0;
                    &::after{display:none;}
                }
            }
        }
        .lnb{@include display(flex); column-gap:25px;
            .heart{@include display(flex, center); cursor:pointer;}
            .menu-dot{@include menuDot();
                .place-list{@include placeList();}
            }
        }
    }
    .mid-column{@include display(flex, null, space-between); column-gap:24px; margin:0 0 8px 0;
        .txt-box{width:calc(100% - 92px); @include display(flex, null, space-between); flex-flow:column;
            & > div:last-child{@include display(flex); column-gap:7px;
                p{@include display(flex); column-gap:5px}
            }
            @include responsive-360{width:100%; row-gap:3px;}
        }
        .img-box{@include placeImgBox(); margin:0;
            @include responsive-360{margin:5px 0 0 0}
        }
        @include responsive-360{flex-flow:column;}
    }
    .bott-column{
        div{@include display(flex, center, space-between); padding:6px 12px; background:#F1F1F1; border-radius:50px;}
        a{@include conSize(null, 26px, 24px); display:block; padding:0 12px; background:$f; border:1px solid $b; border-radius:13px;}
        & > a{@include aTag(); background:$f; color:$b;}
    }
    &:last-child{margin-bottom:0; padding-bottom:0; border-bottom:none;}
}

// 프로그레스 박스
@mixin placeProgress(){
    .progress-bar{position:relative; padding:24px 0 0 0;
        .progress-bubble{min-width:40px; display:inline-block; @include position(absolute, 0); padding:0 10px; background:$b; color:$f; text-align:center;}
        //input{width:100%;}
        .progress-value{@include conSize(100%, 8px); overflow:hidden; margin:6px 0 0 0; background:#D9D9D9; border-radius:4px;
            .step{@include conSize(8px, 8px); background:$b; border-radius:4px;}
        }
    }
    .progress-date{@include display(flex, null, space-between); margin:6px 0 0 0;}
}

/******************************************
/routes/order
- 주문내역 리스트, 상세 / 취소 상세
******************************************/
// 주문 일시, 번호
@mixin orderCurrent(){@include display(flex, null, space-between); color:#979797;
    .left-column{@include display(flex);
        p{@include afterLine; padding-right:8px;
            &::after{height:10px; background:#979797;}
        }
    }
}

// 수강회원 정보
@mixin memberInfo(){padding-top:16px; padding-bottom:16px;
    &-tit{margin:0 0 10px 0;}
    &-input{
        & > div{@include display(flex, center); margin:0 0 8px 0; @include font(14px, 400);
            span{width:80px;}
            div{width:calc(100% - 80px); color:#979797;}
            &:last-child{margin:0;}
        }
        span{width:80px;}
        .form-group{width:calc(100% - 80px);
            input{@include conSize(null, 32px, 32px); padding:0 10px; background:#F1F1F1; border-radius:16px;
                &:focus{border:none;}
            }
        }
    }
}

// 주문 상품
@mixin orderProduct(){
    &-tit{@include display(flex, center, space-between); margin:0 0 13px 0;
        .f-16-700{@include display(flex, flex-end); column-gap:7px;
            span{margin:0 0 1px 0; color:#979797;}
        }
        .arrow{@include arrow2();}
    }
    &-list{overflow:hidden; border-radius:8px;
        li{@include display(flex, center, space-between); position:relative; padding:13px 12px; @include font(14px, 400); background:#F1F1F1;
            .place-addr{color:#979797;}
            &.place-ref-info{background:#D9D9D9}
            &::after{content:''; @include conSize(calc(100% - 24px), 1px); @include position(absolute, null, null, 0, 50%); transform:translateX(-50%); background:#d9d9d9;}
            &:last-child::after{display:none;}
        }
    }
}

// 결제 정보
@mixin orderInfo(){
    &-tit{@include display(flex, null, space-between); margin:0 0 13px 0;
        p{@include display(flex, flex-end); column-gap:7px;
            span{color:#979797}
        }
        .arrow{@include arrow2();}
    }
    &-list{
        &-1{@include display(flex); flex-flow:column; margin:0 0 8px 0; padding:0 0 8px 0; border-bottom:1px solid #F1F1F1;
            div{@include display(flex, null, space-between); padding:2px 0;}
        }
        &-2{
            li{@include display(flex, null, space-between); padding:3px 0; @include font(12px, 400, #979797);
                div{@include display(flex);
                    span{@include conSize(6px, 6px); margin:3px 7px 0 0; border:1px solid #979797; border-top:0; border-right:0;}
                }
            }
        }
    }
}

// 결제 완료
@mixin completeGuide(){text-align:center;
    .complete-img-box{margin:0 0 15px 0;}
    .f-20-700{line-height:1.3;}
    & > p{line-height:1.4; margin:8px 0 20px;}
    button{@include aTag; @include conSize(null, 44px, 44px); margin:0 0 14px 0; cursor:pointer;}
    .order-num{color:#979797;}
}

/******************************************
필터 스크롤
******************************************/
@mixin filterScroll(){display:-webkit-box; column-gap:5px; margin:0 0 20px 0; overflow-x:auto;
    li{@include liTag(); @include display(flex, center); @include font(14px, 400, $b);
        span{@include arrow;}
        &:first-child{@include afterLine; padding:0 12px; margin-right:18px;
            &::after{height:16px; top:5px; right:-12px; background:#D9D9D9;}
        }
    }
}

/******************************************
플레이스
******************************************/
// 플레이스 리스트
@mixin PlaceListForm(){margin:0 0 16px 0; padding:0 20px 16px; border-bottom:1px solid #D9D9D9;
    .top-column{@include display(flex, null, space-between);
        .placeList-txt-box{width:calc(100% - 139px); @include display(flex, null, space-between, column);
            .placeList-info-1{
                .placeList-detail{@include display(flex); column-gap:5px;
                    div{@include display(flex, center); column-gap:5px;
                        p{@include display(flex);
                            span:last-child{color:#979797}
                        }
                    }
                }
                .placeList-add{color:#979797}
            }
            .placeList-info-2{@include display(flex); column-gap:4px;
                li{@include liTag; @include conSize(null, 22px, 22px); padding:0 6px; @include font(12px, 400, #979797);}
            }
        }
        .placeList-img-box{@include placeImgBox; @include conSize(102px, 102px); margin:0;}
    }
    .bott-column{padding:8px 12px; margin:8px 0 0 0; background:#F1F1F1; border-radius:8px; color:#979797; }
    &:last-child{/*padding:0;*/ margin:0; border-bottom:none;}
}

// 1:1 트레이너
@mixin placeTrainerList(){
    .trainer-info{height:500px; @include display(flex, null, space-between, column); padding:12px; background:#D9D9D9; border-radius:8px;
        .rank{@include conSize(null, 22px, 22px); max-width:50px; display:inline-block; padding:0 8px; @include font(12px, 400); background:$f; border-radius:11px;
            &.fake{opacity:0; visibility:hidden}
        }
        div{@include display(flex, flex-end, space-between);
            p{@include font(14px, 400)}
            .arrow{@include conSize(8px, 13px); @include display(flex, center, center); position:relative;
                &::before, &::after{content:''; @include conSize(100%, 2px); position:absolute; background:$b;}
                &::before{transform:rotate(45deg); margin:0 0 5px 0;}
                &::after{transform:rotate(-45deg); margin:5px 0px 0 0;}
            }
        }
        @include responsive-991{height:50vw;}
        @include responsive-480{height:220px;}
    }
    .trainer-comment{padding:8px 12px; margin:8px 0 0 0; @include font(12px, 400, #979797); background:#F1F1F1; border-radius:8px;}
}

// 트레이너 리스트 -> 구조 TrainerData.vue
@mixin placeTrainerList2(){padding:0 20px 16px; margin:0 0 16px 0; border-bottom:1px solid #D9D9D9;
    .top-column{@include display(flex, flex-start, space-between);
        .left-row{
            .trainer-info{@include display(flex); column-gap:3px;
                .starBox{
                    .total-scope{@include display(flex, center); column-gap:3px;}
                }
            }
            .location-info{@include display(flex, center);
                p{@include display(flex, center); position:relative; @include afterLine; color:#979797;
                    &::after{height:11px; background:#979797;}
                    &:last-child{margin:5px 0 0 0;}
                }
            }
        }
        .right-row{@include conSize(102px, 102px); background:#D9D9D9; border-radius:8px;}
    }
    .bott-column{line-height:1.7; padding:8px 12px; margin:8px 0 0 0; background:#f1f1f1; border-radius:8px; color:#979797}
    &:last-child{border-bottom:0;}
}

// 플레이스 리스트 -> 구조 PlaceData.vue
@mixin placeList2(){padding:0 20px 16px; margin:0 0 16px 0; border-bottom:1px solid #D9D9D9;
    .top-column{@include display(flex, null, space-between); column-gap:37px;
        .left-row{width:calc(100% - 139px); @include display(flex, null, space-between, column);
            .place-txt-box{
                .place-info{@include display(flex);
                    .starBox{
                        .total-scope{@include display(flex, center); column-gap:3px;}
                    }
                    .location-info{color:#979797;}
                }
            }
            .place-filter-list{@include filterScroll; margin:0;
                li{@include conSize(null, 22px, 22px); padding:0 8px; @include font(12px, 400, #979797);
                    &:first-child{margin-right:0;
                        &::after{display:none;}
                    }
                }
            }
        }
        .right-row{@include conSize(102px, 102px); background:#D9D9D9; border-radius:8px;}
    }
    .bott-column{line-height:1.7; padding:8px 12px; margin:8px 0 0 0; background:#f1f1f1; border-radius:8px; color:#979797}
    &:last-child{border-bottom:0;}
}

/******************************************
탭
******************************************/
@mixin TabList(){@include display(flex, center); border-bottom:1px solid #f1f1f1;
    li{flex:1; position:relative; padding:0 0 15px 0; text-align:center;
        button{@include font(16px, 400);
            @include responsive-480{font-size:14px;}
        }
        &.active{
            button{@include font(null, 700);}
            &::before{content:''; @include conSize(100%, 4px); @include position(absolute, null, null, 0, 0); background:$b;}
        }
    }
}

/******************************************
라디오 박스1
******************************************/
@mixin radioBox1(){
    input[type='radio']{position:absolute; opacity:0; appearance:none; -webkit-appearance:none;
        + label{@include display(flex, center, space-between); @include font(14px, 400, $b); cursor:pointer;
            .outSide{@include conSize(24px, 24px); @include display(flex, center, center); background:#F1F1F1; border:1px solid #D9D9D9; border-radius:50%;
                span{@include conSize(12px, 12px); opacity:0; visibility:hidden; background:$b; border-radius:50%;}
            }
        }
        &:checked + label{
            .outSide{
                span{opacity:1; visibility:visible;}
            }
        }
    }
}

/******************************************
작성자 정보(이름, 별점, 좋아요 등) -> 구조 PlaceReview.vue
******************************************/
@mixin WriterInfo(){@include display(flex, null, space-between); margin-bottom:20px; padding:0 20px 15px; border-bottom:1px solid #D9D9D9;
    .left-row{@include display(flex); column-gap:8px;
        .user-profile{@include conSize(40px, 40px); border-radius:50%; background:#D9D9D9;}
        .writer-info{
            p{@include display(flex, flex-end); column-gap:8px;
                span{color:#979797}
            }
        }
    }
    .right-row{@include display(flex, center); column-gap:21px;
        .like-box{@include conSize(null, 30px, 30px); @include display(flex, center, center); column-gap:8px; padding:0 12px; border:1px solid $b; border-radius:50px; cursor:pointer;}
        .menu-dot{@include menuDot;}
        .review-sorting-list{@include placeList;}
    }
}

/******************************************
ul 안에 ul
******************************************/
@mixin ulToggle(){@include conSize(null, 28px, 28px); position:relative; z-index:10; padding:0 12px; border:1px solid #D9D9D9; border-radius:50px; cursor:pointer;
    & > li{@include display(flex, center, null, null); @include font(12px, 400);
        .arrow{@include arrow();}
    }
    ul{@include conSize(100%, null, 1.3); @include position(absolute, calc(100% + 5px), null, null, 0); padding:10px 12px; border:1px solid #D9D9D9; border-radius:10px; background:#f1f1f1; 
        li{margin-bottom:5px; @include font(12px, 400);
            &:last-child{margin-bottom:0;}
        }
    }
}

/******************************************
최근 검색한 지역, 검색어 
******************************************/
.search-layout{
    &-tit{@include display(flex, flex-end, space-between); margin:0 0 3px 0;
        button{color:#979797; cursor:pointer;}
    }
    &-ul{
        li{@include display(flex, center, space-between); padding:9px 0; @include font(14px, 400); border-bottom:1px solid #D9D9D9;
            button{@include close; @include conSize(18px, 18px);
                &::before, &::after{@include conSize(100%, 1px);}
            }
        }
    }
}

/******************************************
탭 애니메이션 레이아웃
******************************************/
@mixin useTab(){@include TabList; display:-webkit-box; position:relative; overflow-x:auto;
    li{flex:initial; padding:0 22px 15px; cursor:pointer;
        &.active{font-weight:700}
        &::before{display:none;}
    }
    .nav-indicator{height:4px; position:absolute; padding:0; background:$b; transition:all .35s $easing;}    
}