/******************************************
뉴스, 이벤트
/routes/commnuity/EventNews, EventNews_Tab 
******************************************/
.EventNewsTab_container{
    &_inner{
        .tab-list{@include TabList;}
    }
}

.EventNews_container{
    &_inner{
        .tab-list{display:flex; overflow-x:initial;
            li{flex:1;}
        }
        .tabContentWrap{
            .news-list{padding:0 20px;
                li{@include display(flex, center, space-between); padding:12px 0; border-bottom:1px solid #D9D9D9;
                    span{margin:5px 0 0 0; color:#979797}
                    .arrow{@include arrow2; transform:rotate(-90deg); margin:0 0 10px 0;}
                }
            }
            .event-list{padding:20px;
                li{@include conSize(100%, 105px); margin:0 0 15px 0; overflow:hidden; background:#f1f1f1; border-radius:10px;
                    &:last-child{margin:0;}
                    img{@include conSize(100%, 100%); object-fit:cover;}
                }
            }
        }
    }
}

/******************************************
약관 및 정책
/routes/commnuity/Terms.vue 
******************************************/
.Terms_container{
    &_inner{
        ul{padding:0 20px;
            li{@include display(flex, center, space-between); padding:12px 0; border-bottom:1px solid #D9D9D9;
                p{@include font(14px, 400);}
                .arrow{@include arrow2; transform:rotate(-90deg); margin:0 0 6px 0;}
            }
        }
    }
}

/******************************************
문의
/routes/commnuity/Inquiry.vue 
******************************************/
.Inquiry_container{
    &_inner{
        .form-group2{margin:0 0 8px 0;
            &:last-child{margin:0;}
        }
        & > div{border-bottom:8px solid #f1f1f1;}

        .inquiry-guide{@include display(flex, center, space-between); padding:12px 20px; background:#F1F1F1; border-bottom:0;
            p{@include display(flex, center); @include font(12px, 400, #979797);
                span{font-weight:700;}
            }
            a{position:relative; color:#979797;
                &::before{content:''; @include conSize(100%, 1px); @include position(absolute, null, null, 1px, 0); background:#979797}
            }
            @include responsive-360{display:block; padding:12px 15px;}
        }
        .inquiry-list{padding:24px 20px 28px;
            &-tit{margin:0 0 9px 0;}
            &-ul{@include display(flex); flex-flow:wrap; gap:6px;
                li{@include liTag; line-height:25px; padding:0 8px; transition:all .15s $easing;
                    button{color:#D9D9D9; transition:all .15s $easing; cursor:pointer;}
                    &.selected{border-color:$b;
                        button{color:$b;}
                    }
                }
            }
            @include responsive-360{padding:24px 15px 28px;}
        }
        .inquiry-form{padding:24px 20px;
            &-tit{margin:0 0 17px 0;
                p{@include display(flex, flex-end); column-gap:5px;
                    span{margin:0 0 1px 0; color:#979797;}
                }
            }
            @include responsive-360{padding:24px 15px;}
        }
        .inquiry-receive{padding:24px 20px 19px; border-bottom:0;
            &-tit{margin:0 0 16px 0;}
            &-guide{line-height:1.8; margin:17px 0 0 0; @include font(12px, 400, #979797)}
            @include responsive-360{padding:24px 15px 19px;;}
        }
    }
    .bott-btn{@include bottLnb; align-items:center; flex-flow:column;
        .form-group{margin:0 0 13px 0;
            input{
                + label{position:relative; @include font(12px, 400, #979797);
                    //span{}
                    &::before{content:''; @include conSize(calc(100% - 25px), 1px); @include position(absolute, null, 0, 1px); background:#979797}
                }
            }
        }
        button{background:#D9D9D9; color:#979797;}
    }
    @include responsive-360{padding-bottom:117px;}
}

/******************************************
문의 완료
/routes/commnuity/InquiryComplete.vue 
******************************************/
.InquiryComplete_container{
    &_inner{min-height:calc(100vh - 132px); @include display(flex, center, space-between, column); padding:190px 20px 0;
        .top-row{text-align:center;
            .complete-txt-box{margin:15px 0;}
        }
        .bott-btn{@include aTag; @include conSize(null, 44px, 44px); cursor:pointer;}
    }
}

/******************************************
검색 결과
/components/layout/SearchResult.vue
******************************************/
.SearchResult_container{
    &_inner{
        .search-input{padding:0 20px;
            input{border-radius:22px}
            .search-btn{@include searchBtn;}
        }
        .tab-and-filter{
            .search-tab{display:flex; margin:28px 0 20px 0;
                li{flex:1;}
            }
            .filter-scroll{@include filterScroll; padding:0 20px;
                img{margin:0;}
            }
        }
        .PlaceData-form{@include placeList2;}
        .TrainerData-form{@include placeTrainerList2;}
    }
}

/******************************************
알림 세팅
/components/layout/AlertSetting.vue
******************************************/
.AlertSetting_container{
    &_inner{
        .alert-setting-guide{@include display(flex, center, space-between); padding:16px 20px; margin:0 0 28px 0; background:#F1F1F1;
            button{position:relative; font-weight:700; cursor:pointer;
                &::before{content:''; @include conSize(100%, 1px); @include position(absolute, null, null, 1px, 0); background:$b;}
            }
        }
        .AlertSetting-box{padding:0 20px;
            &-tit{padding:0 0 8px 0; border-bottom:1px solid $b;}
            &-ul{margin:0 0 32px 0; 
                li{@include display(flex, center, space-between); position:relative; padding:16px 0; border-bottom:1px solid #F1F1F1;
                    label{
                        & > span{line-height:1.6;}
                        p{margin:0 0 5px 0;}
                    }
                    .toggle-box{@include display(flex, center); position:relative; cursor:pointer;
                        input[type='checkbox']{@include conSize(60px, 32px); appearance:none; -webkit-appearance:none; background:#D9D9D9; border-radius:16px; transition:all .3s $easing;}
                        span{@include conSize(24px, 24px); position:absolute; margin:0 0 0 4px; background:$f; border-radius:50%; transition:all .3s $easing;}
                        &.active{
                            input{background:$b;}
                            span{margin:0 0 0 30px;}
                        }
                    }
                }
            }
            &:last-child ul{margin:0;}
        }
    }
}

/******************************************
자주 묻는 질문
/components/community/FAQ.vue
******************************************/
.FAQ_container{
    &_inner{position:relative;
        .tabContentWrap{
            ul{
                li{border-bottom:1px solid #D9D9D9;
                    .arrow{@include arrow2;}
                    &.q-box{@include display(flex, center, space-between); padding:12px 0;}
                    &.a-box{max-height:0; opacity:0; visibility:hidden;}
                } 
            }
        }
    }
}

/******************************************
찜
/routes/wish
******************************************/
.Wish_container{
    &_inner{
        .tab-list{@include useTab; display:flex; overflow-x:initial;
            li{flex:1;}
        }
        .toggle-box{@include display(flex); padding:22px 20px;
            .wish-filter{@include ulToggle;
                ul{background:$f;}
            }
            @include responsive-480{padding:17px 15px;}
        }
        .wish-ul{display:grid; grid-template-columns:repeat(2, 1fr); column-gap:8px; row-gap:20px;
            li{
                .img-box{@include conSize(100%, 500px); position:relative; background:#d9d9d9; border-radius:8px;
                    .location{@include position(absolute, 10px, 13px);
                        @include responsive-480{right:8px;}
                    }
                    @include responsive-991{height:50vw;}
                    @include responsive-480{height:156px;}
                }
                .txt-box{
                    .info{@include display(flex, null, space-between); margin:8px 0;
                        &-detail{
                            .scope{@include display(flex); column-gap:5px;
                                p{@include display(flex, center);
                                    span{color:#979797;}
                                }
                            }
                            .location{color:#979797}
                        }
                        .heart{margin:2px 0 0 0; cursor:pointer;}
                    }
                    .pay-btn{@include aTag; @include conSize(null, 34px, 32px); margin:0; background:$f; border:1px solid $b; color:$b; cursor:pointer;
                        @include responsive-480{@include conSize(null, 30px, 28px);}
                    }
                }
            }
        }
    }
}