/******************************************
뉴스, 이벤트
/routes/commnuity/Event, News, EventNews_Tab 
******************************************/
.EventNewsTab_container{
    &_inner{
        .tab-list{@include TabList;}
    }
}

.News_container{
    &_inner{
        .news-list{padding:0 20px;
            li{@include display(flex, center, space-between); padding:12px 0; border-bottom:1px solid #D9D9D9;
                span{margin:5px 0 0 0; color:#979797}
                .arrow{@include arrow2; transform:rotate(-90deg); margin:0 0 7px 0;}
            }
        }
    }
}

.Event_container{
    &_inner{
        .event-list{padding:20px;
            li{@include conSize(100%, 105px); margin:0 0 15px 0; overflow:hidden; background:#f1f1f1; border-radius:10px;
                &:last-child{margin:0;}
                img{@include conSize(100%, 100%); object-fit:cover;}
            }
        }
    }
}

/******************************************
약관 및 정책
/routes/commnuity/Terms.vue 
******************************************/
.Terms_container{
    &_inner{
        ul{padding:0 20px;
            li{@include display(flex, center, space-between); padding:12px 0; border-bottom:1px solid #D9D9D9;
                p{@include font(14px, 400);}
                .arrow{@include arrow2; transform:rotate(-90deg); margin:0 0 6px 0;}
            }
        }
    }
}

/******************************************
문의
/routes/commnuity/Inquiry.vue 
******************************************/
.Inquiry_container{
    &_inner{
        input[type='text'],
        input[type='file'],
        input[type='email']{@include conSize(100%, 44px, 44px); padding:0 16px; @include font(12px, 400, #979797); background:#F1F1F1; border-radius:8px;
            &:focus{border:none}
            &::placeholder{color:#979797}
        }
        input[type='file']{appearance:none; -webkit-appearance:none; position:absolute; opacity:0;
            + label{@include conSize(null, 44px, 44px); display:block; padding:0 16px; @include font(12px, 400); background:#F1F1F1; border-radius:8px; color:#979797;}
        }
        textarea{min-height:150px;}
        .form-group{margin:0 0 8px 0;
            &:last-child{margin:0;}
        }
        & > div{border-bottom:8px solid #f1f1f1;}

        .inquiry-guide{@include display(flex, center, space-between); padding:12px 20px; background:#F1F1F1; border-bottom:0;
            p{@include display(flex, center); @include font(12px, 400, #979797);
                span{font-weight:700;}
            }
            a{position:relative; color:#979797;
                &::before{content:''; @include conSize(100%, 1px); @include position(absolute, null, null, 1px, 0); background:#979797}
            }
        }
        .inquiry-list{padding:24px 20px 28px;
            &-tit{margin:0 0 12px 0;}
            &-ul{@include display(flex); flex-flow:wrap; gap:6px;
                li{@include liTag; line-height:25px; cursor:pointer;
                    button{color:#D9D9D9;}
                }
            }
        }
        .inquiry-form{padding:24px 20px;
            &-tit{margin:0 0 17px 0;
                p{@include display(flex, flex-end); column-gap:5px;
                    span{margin:0 0 1px 0; color:#979797;}
                }
            }
        }
        .inquiry-receive{padding:24px 20px 19px; border-bottom:0;
            &-tit{margin:0 0 16px 0;}
            &-guide{line-height:1.8; margin:17px 0 0 0; @include font(12px, 400, #979797)}
        }
    }
    .bott-btn{@include bottLnb; align-items:center; flex-flow:column;
        .form-group{margin:0 0 13px 0;
            input{
                + label{position:relative; @include font(12px, 400, #979797);
                    span{}
                    &::before{content:''; @include conSize(calc(100% - 25px), 1px); @include position(absolute, null, 0, 1px); background:#979797}
                }
            }
        }
        button{background:#D9D9D9; color:#979797;}
    }
}

/******************************************
문의 완료
/routes/commnuity/InquiryComplete.vue 
******************************************/
.InquiryComplete_container{
    &_inner{min-height:calc(100vh - 132px); @include display(flex, center, space-between, column); padding:190px 0 0 0;
        .top-row{text-align:center;
            .complete-txt-box{margin:15px 0;}
        }
        .bott-btn{@include aTag; @include conSize(null, 44px, 44px); cursor:pointer;}
    }
}

/******************************************
검색창
/components/layout/Search.vue
******************************************/
.Search_container{
    &_inner{
        & > div{padding:20px;}
        // 검색 인풋창
        .search-input{
            input{@include conSize(null, 44px, 44px); padding:0 16px; background:#F1F1F1; border:none; border-radius:22px;
                &::placeholder{color:#979797}
            }
            .search-btn{@include conSize(20px, 20px); @include position(absolute, 12px, 16px);
                &::before, &::after{content:''; position:absolute; background:$b;}
                &::before{@include conSize(14px, 14px); background:none; border:2px solid $b; border-radius:50%;}
                &::after{@include conSize(2px, 8px); right:4px; bottom:2px; transform:rotate(-45deg); background:$b;}
            }
        }
        // 최근 본 운동
        .recent-work{padding-right:0;
            &-tit{@include display(flex, flex-end, space-between); margin:0 0 11px 0; padding-right:20px;
                button{color:#979797; cursor:pointer;}
            }
            .recent-work-ul{display:-webkit-box; column-gap:8px; overflow-x:auto;
                li{
                    .center-img{@include conSize(101px, 101px); background:#D9D9D9; border-radius:8px;}
                    p{margin:8px 0 0 0; @include font(14px, 400);}
                    &:last-child{margin:0 20px 0 0;}
                }
            }
        }
        // 최근 검색어
        .recent-search-word{
            &-tit{@include display(flex, flex-end, space-between); margin:0 0 3px 0; 
                button{color:#979797; cursor:pointer;}
            }
            &-ul{
                li{@include display(flex, center, space-between); padding:9px 0; @include font(14px, 400); border-bottom:1px solid #D9D9D9;
                    button{@include conSize(18px, 18px); @include display(flex, center, center); position:relative; cursor:pointer;
                        &::before, &::after{content:''; @include conSize(100%, 1px); position:absolute; background:$b;}
                        &::before{transform:rotate(45deg)}
                        &::after{transform:rotate(-45deg)}
                    }
                }
            }
        }
    }
}

/******************************************
검색 결과
/components/layout/SearchResult.vue
******************************************/
.SearchResult_container{
    &_inner{
        .tab-and-filter{
            .search-tab{@include TabList; margin:0 0 20px 0;}
            .filter-scroll{@include filterScroll;}
        }
        .placeList-form{@include PlaceListForm;}
    }
}

/******************************************
알림창
/components/layout/Alert.vue
******************************************/
.Alert_container{
    &_inner{
        .alert-tit{@include display(flex, center, space-between); padding:12px 20px; @include font(12px, 400);
            p{@include display(flex);
                span{margin:0 0 0 4px;}
            }
            button{position:relative; font-weight:700; cursor:pointer;
                &::before{content:''; @include conSize(100%, 1px); @include position(absolute, null, null, 1px, 0); background:$b }
            }
        }
        .alert-list{
            li{padding:20px; border-bottom:1px solid #d9d9d9;
                .top-column{@include display(flex, flex-end, space-between); margin:0 0 4px 0;
                    .time{@include font(12px, 400, #979797);}
                }
                .bott-column{@include display(flex, null, space-between); column-gap:20px;
                    .txt-box{width:calc(100% - 84px); @include display(flex, null, space-between, column); row-gap:8px;
                        .alert-con{@include font(14px, 400);}
                        .place-info{@include display(flex);
                            p{@include afterLine; @include display(flex); column-gap:5px; padding-right:7px; @include font(12px, 400, #979797);
                                &::after{height:10px; background:#979797}
                            }
                        }
                    }
                    .alert-img{@include conSize(64px, 64px); background:#D9D9D9; border-radius:8px;}
                }
                &.notConfirm{background:#F1F1F1;}
                &.couponAlert{
                    .txt-box{width:100%;
                        .alert-con{width:calc(100% - 84px);}
                        p{@include font(12px, 400, #979797)}
                    }
                    .alert-img{display:none}
                }
            }
        }
    }
}

/******************************************
알림 세팅
/components/layout/AlertSetting.vue
******************************************/
.AlertSetting_container{
    &_inner{
        .alert-setting-guide{@include display(flex, center, space-between); padding:16px 20px; background:#F1F1F1;
            button{position:relative;
                &::before{content:''; @include conSize(100%, 1px); @include position(absolute, null, null, 1px, 0); background:$b;}
            }
        }
        .AlertSetting-box{
            &-tit{padding:0 0 8px 0; margin:0 0 16px 0; border-bottom:1px solid $b;}
            &-ul{
                li{@include display(flex, center); position:relative;
                    label{
                        p{margin:0 0 4px 0;}
                    }
                    .toggle-box{@include display(flex, center);
                        input[type='checkbox']{@include conSize(60px, 32px); appearance:none; -webkit-appearance:none; position:absolute; z-index:-1; background:$b; border-radius:16px;}
                        span{@include conSize(24px, 24px); margin:0 0px 0px 4px; background:$f; border-radius:50%;}
                    }
                }
            }
        }
    }
}