/******************************************
메인 페이지(첫방문)
/components/layout/MainPage.vue
******************************************/
.section01{
    &-inner{
        .intro-txt-box{margin-bottom:20px;
            h1{margin:3px 0 7px 0;}
            .trainer-toggle-box{@include display(flex, null, null, null); column-gap:4px;
                .trainer-choice-ul{@include ulToggle;}
                .location{@include display(flex, center, null, null); column-gap:5px; padding:0 8px; border:1px solid #D9D9D9; border-radius:50px;
                    .img-box{@include display(flex, center, null, null);}
                }
            }
        }
        .trainer-list{
            .swiper-wrapper{align-items:center;
                .img-box{@include conSize(268px, 268px); background:rgba(217, 217, 217, 1); border-radius:8px;
                    img{width:100%; object-fit:cover;}
                    @include responsive-991{@include conSize(100%, 100%);}
                }
                .txt-box{margin:8px 0 0 0;
                    img{margin:-2px 0 0 0;}
                    .scope{@include display(flex, center, null, null); column-gap:5px;
                        span{display:inline-block;}
                    }
                }
            }
            &-all{@include allBtn;}
        }
    }
}
.section02{padding:72px 0; text-align:center;
    &-inner{
        div{margin:8px 0 16px}
        a{@include conSize(null, 30px, 30px); display:inline-block; padding:0 20px; border:1px solid $b; border-radius:50px;}
    }
}

/******************************************
메인 페이지(플레이스 수강권 미등록)
/components/layout/NotClass_MainPage.vue
******************************************/
.NotClass_main_container{
    &_inner{
        .NotClass-section01-inner{
            .place-ref{
                .place-info-1{position:relative; margin:0 0 16px 0;
                    & > p{@include menuDot(); text-align:center;}
                    .place-list{@include placeList;}
                }
                .place-info-2{text-align:center;
                    .place-img-box{@include placeImgBox();}
                    .place-txt-box{
                        &-1{margin:10px 0 10px 0; padding-bottom:10px; border-bottom:1px solid #D9D9D9;
                            p{@include display(flex, null, center);
                                &:first-child{color:#979797}
                                &:last-child span{@include afterLine();}
                            }
                        }
                        &-2{
                            a{@include aTag();}
                        }
                    }
                }
            }
        }
        .NotClass-section02-inner{padding:20px;
            .place-history{@include placeHistory();}
        }
    }
}

/******************************************
메인 페이지(플레이스 수강권 등록)
/components/layout/Class_MainPage.vue
******************************************/
.Class_main_container{
    &_inner{
        .Class-section01-inner{
            .place-ref{
                .place-info-1{position:relative;
                    .menu-dot{@include menuDot(); text-align:center; color:#979797;}
                    .place-list{@include placeList();}
                }
                .place-info-2{
                    .place-txt-box{text-align:center;
                        p:last-child{@include display(flex, null, center);
                            span{@include afterLine();}
                        }
                    }
                    .place-progress-box{
                        .progress-bar{position:relative;
                            .progress-bubble{min-width:40px; display:inline-block; padding:0 10px; background:$b; color:$f; text-align:center;}
                            //input{width:100%;}
                            .progress-value{@include conSize(100%, 8px); overflow:hidden; margin:6px 0 0 0; background:#D9D9D9; border-radius:4px;
                                .step{@include conSize(8px, 8px); background:$b; border-radius:4px;}
                            }
                        }
                        .progress-date{@include display(flex, null, space-between); margin:6px 0 0 0;}
                    }
                    a{@include aTag();}
                }
            }
        }
        .Class-section02-inner{padding:20px;
            .place-history{@include placeHistory();}
        }
    }
}