.main-layout{padding:56px 0 82px 0;
    &.pd-b0{padding-bottom: 0;}
    &.pd-t0{padding-top: 0;}
    .first-section{position:relative; padding-top:61px; background:$b; box-shadow:0 7px 13px rgba(0,0,0, .05);}
    &-inner{padding:24px 20px;}
}
/******************************************
메인 페이지
******************************************/
.home_container{padding-top:0;
    // 첫방문 - Home.vue
    .intro-box{@include display(flex, null, space-between);
        .txt-box{color:$f;
            & > p{margin:0 0 4px 0;}
            h1{white-space:nowrap;
                span{display:inline;}
            }
        }
    }
    .trainer-toggle-box{@include display(flex); column-gap:10px; margin:5px 0 18px;
        .trainer-choice-ul{@include ulToggle;
            ul{background:$f;}
        }
        .location{@include display(flex, center, null, null); column-gap:3px; padding:0 8px; border:1px solid #D9D9D9; border-radius:50px; background:$f;
            .img-box{@include display(flex, center, null, null);}
        }
    }
    .trainer-list{
        .swiper-wrapper{align-items:center;
            .img-box{@include conSize(null, 331px); overflow:hidden; border-radius:8px;
                img{@include conSize(100%, 100%); object-fit:cover;}

                @include responsive-991{@include conSize(100%, 100%);}
            }
            .txt-box{margin:5px 0 0 0; color:$f;
                img{margin:-2px 0 0 0;}
                .starBox{
                    .total-scope{
                        span:first-child{color:$f;}
                    }
                }
            }
        }
        &-all{@include allBtn;}
    }
    .notWork{padding:23px 20px 34px 20px; background:$f; text-align:left;
        .mob-inner{
            div{margin:4px 0 13px}
            a{display:inline-block; @include font(12px, 700, $f); border-radius:5px;}
        }
    }

    // 그 외 공통으로 적용
    .first-section{
        .mob-inner{position:relative; padding:0 20px 55px 20px;}

        &.home-bg{background:url('@/assets/image/home-bg.png') no-repeat center / cover , $b; background-position:0 -110px;
            @include responsive-991{background-position:0 40px;}
            @include responsive-480{background-position:-80px 140px;}
        }
    }
    .second-section{
        .mob-inner{padding:20px;
            .place-history{@include placeHistory;}
        }
        // 첫방문
        &.notWork{
            .mob-inner{padding:0;}
        }
    }

    .top-column{color:$f;
        .menu-dot{@include menuDot; text-align:left;
            p{display:inline; margin:0 5px 0 0}
            span{right:13px}
        }
        .place-list{@include placeList; top:60px; right:20px;}

        // 플레이스 수강권 등록
        .txt-box{@include display(flex); margin:0px 0 7px 0;
            .ticket-info{margin:0 9px 0 0;
                p{@include afterLine;
                    &::after{background:$f;}
                }
            }
            .date{color:$gray2;}
        }

        // 운동 종료
        .txt-box{text-align:center;}
        .close{@include close; @include position(absolute, 2px, 0);}
    }
    .mid-column{color:$f;
        .place-img-box{@include homePlaceImgBox;} 
        
        // 플레이스 수강권 등록
        .place-txt-box{
            span{display:inline;}
            p{color:#00A3FF;}
        }
    }
    .bott-column{text-align:center;
        .place-progress-box{@include placeProgress;}

        // 플레이스 수강권 미등록
        .txt-box{color:$f; text-align:left;
            p{margin:6px 0 16px 0px;}
        }

        button{@include display(flex, center, center); column-gap:8px;
            img{filter:invert(1)}
            .plus{@include plus;}
        }
    }
}

.main_container{
    .first-section{padding-top:62px;}
}

/******************************************

******************************************/
.class_home_container{
    .first-section{padding-top:86px; 
        .mob-inner{padding-bottom:22px;}
    }

    .mid-column{border:0;}
    .bott-column{
        .place-progress-box{
            .progress-bar{
                .progress-bubble{left:0;}
                .progress-value{
                    .step{width:8px;}
                }
            }
        }
    }
}

/******************************************
플레이스 수강권 미등록
******************************************/
.notClass_home_container{
    .first-section{
        .mob-inner{padding:0;}

        .top-column{padding:15px 20px;}
        .mid-column{margin:0;}
        .bott-column{width:100%; padding:20px 20px 22px; position:absolute; bottom:0;}
    }
}

/******************************************
운동 진행 중
/components/layout/ProgressHome.vue
******************************************/
.progress_home_container{
    .mid-column{border:0;}
    .bott-column{
        .place-progress-box{
            .progress-bar{
                .progress-value{
                    .step{width:50%;}
                }
            }
        }
    }
}

/******************************************
운동 종료 임박
/components/layout/ProgressImpendHome.vue
******************************************/
.progressImpend_home_container{
    .bott-column{
        .place-progress-box{
            .progress-bar{
                .progress-bubble{transform:translateX(0); right:5%;}
                .progress-value{
                    .step{width:95%;}
                }
            }
        }
    }
}

/******************************************
메인 페이지(운동 종료)
/components/layout/Complete_Home.vue
******************************************/
.complete_home_container{
    .mid-column{border:0;}
    .bott-column{
        .place-progress-box{
            .progress-bar{
                .progress-bubble{right:0;}
                .progress-value{
                    .step{width:100%;}
                }
            }
        }
    }
}