/******************************************
회원가입
/routes/join
******************************************/
.member_container{padding:0 0 52px 0; margin-top:37px;
    &_inner{@include conSize(calc(100% - 48px), calc(100vh - 128px)); @include display(flex, null, space-between, column); margin:0 auto;
        .member-form{
            &-inner{overflow:hidden;
                & > div{width:100%;}
                button{@include conSize(null, 33px, 31px); @include position(absolute, 50%, 0); transform:translateY(-50%); padding:0 10px; border-radius:16px}
                .join-third-step{
                    .nickname-guide{text-align:center;}
                    button{border:1px solid $b; color:$b;}
                }
            }
            .arrow{@include conSize(7px, 18px); @include display(flex, center, center); @include position(absolute, 14px, 0, null, null, 99);
                &::before, &::after{content:''; @include conSize(100%, 1px); position:absolute; background:$gray;}
                &::before{transform:rotate(45deg); margin:0 0 5px 0;}
                &::after{transform:rotate(-45deg); margin:5px 0 0 0;}
            }
        }
    }
    /************************************
    서비스 이용 동의 - 1/4 - (회원가입 첫 화면) - /routes/Join.vue
    ************************************/
    &.Join{
        .join-first-step{
            .form-group{padding:12px 0;
                label{@include font(14px, 400, $b);
                    &.bold{font-weight:700;}
                }
            }
            .join-form-input1{
                .form-group{padding:17px 0; margin-bottom:7px; border-bottom:1px solid #f1f1f1;}
            }
        }
    }
    /************************************
    본인인증 - 3/4 - /routes/JoinStep2.vue
    ************************************/
    &.JoinPass{
        button{background:#d9d9d9; color:$f;}
    }
    /************************************
    닉네임 등록 - 4/4 - /routes/JoinNickname.vue
    ************************************/
    &.JoinNickname{margin-top:50px;}
    /************************************
    가입 완료 /routes/JoinComplete.vue
    ************************************/
    &.JoinComplete{position:relative; margin:0; overflow:hidden; background:#f1f1f1;
        .complete-canvas{@include position(absolute, 0, null, null, 0)}
        .member_container_inner{padding:210px 0 0 0}
        .intro-txt-box{text-align:center;
            & > div:first-child{margin:0 0 8px 0;}
            p{line-height:1.25; @include display(flex, center, center)}
        }
    }
    /************************************
    권한 설정 /routes/Authority.vue
    ************************************/
    &.Authority{
        .member_container_inner{height:calc(100vh - 165px); justify-content:initial;
            .intro-txt-box{text-align:center;
                .f-14-400{margin:10px 0 0 0;
                    p{@include display(flex, null, center)}
                }
            }
            .authority-list{margin:35px 0 0 0;
                li{@include display(flex, center, space-between); margin-bottom:16px; padding-bottom:16px; border-bottom:1px solid #f1f1f1;
                    .txt-box{
                        .f-16-700{@include display(flex, flex-end);
                            span{color:#d9d9d9;}
                        }
                    }
                    .authority-con{@include conSize(45px, 45px); border:1px solid #f1f1f1; border-radius:50%;}
                }
            }
            .authority-guide{margin:40px 0 20px; color:#979797; text-align:center;}
        }
    }
}

/******************************************
아이디 찾기
/routes/find_account
******************************************/
.FindID_Step3{
    .intro-txt-box{
        .id-guide{text-align:center;
            div{@include display(flex, null, center)}
            p{margin:6px 0 0 0;}
        }
        .id-list{margin:33px 0 0 0;
            li{@include display(flex, center); column-gap:10px; padding:10px; border:1px solid #D9D9D9; border-radius:50px; cursor:pointer;
                .user-profile-img{@include conSize(45px, 45px); border-radius:50%; background:$gray;}
                .user-info p{@include display(flex); 
                    &:last-child{column-gap:5px; margin:5px 0 0 0; color:$gray;}
                }
            }
        }
    }
    .bttom-btn-box{text-align:center;
        a:first-child{margin:0 0 28px 0}
    }
}

/******************************************
비밀번호 찾기
/routes/find_account/FindPW_Step.vue
******************************************/
.FindPW_Step1{
    .pw-guide{@include display(flex, null, center); column-gap:5px; margin:20px 0 0 0;}
}

/******************************************
로그인 시작 페이지
/routes/login/Login.vue
******************************************/
.login_container{
    &_inner{max-width:500px; height:100vh; padding:188px 36px 59px; @include display(flex, null, space-between, column); text-align:center;
        .intro-txt-box{
            p{margin:6px 0 0 0;}
        }
        .login-form{
            a{display:block;}
            .login-form-input1{
                a{@include conSize(null, 44px, 44px); margin:16px 0 0 0; background:$b; color:$f; border-radius:50px;}
            }
            .login-form-input2{@include display(flex, center, center); column-gap:20px; margin:30px 0 25px 0;
                a{@include conSize(54px, 54px); border-radius:50%; background:$gray;}
            }
            .login-form-input3{
                a{@include font(12px, 400, #979797);}
                ul{@include display(flex, center, center);
                    li{position:relative; margin-right:8px; padding-right:8px;
                        &::after{content:""; @include conSize(1px, 11px); position:absolute; top:3px; right:0; background:#979797;}
                        &:last-child::after{display:none;}
                    }
                }
            }
        }
    }
}

/******************************************
마이 페이지
/routes/mypage/MyPage.vue
******************************************/
.mypage_container{
    &_inner{height:100vh; background:#f1f1f1;
        & > div{padding:20px; background:$f;}
        .my-profile{@include display(flex, center, space-between); border-bottom:1px solid #D9D9D9;
            &-info{@include display(flex, center); column-gap:12px;
                .profile-img{@include conSize(52px, 52px); border-radius:50%; background:#D9D9D9}
                p{@include display(flex, center); column-gap:6px;
                    .login-current{@include conSize(18px, 18px); background:url(../image/google.png) center no-repeat;}
                }
                .member-email{color:#979797;}
            }
            .arrow{@include arrow2; transform:rotate(-90deg);}
        }
        .my-quick{padding:24px 20px 13px; border-bottom:9px solid #f1f1f1;
            ul{@include display(flex);
                li{flex:1;
                    a{text-align:center;
                        .my-quick-icon{@include conSize(40px, 40px); margin:0 auto; margin-bottom:12px;
                            @for $i from 1 to 5{
                                &-#{$i}{background:url(../image/my-quick-icon-#{$i}.png) center no-repeat; background-size:cover;}
                            }
                        }
                    }
                }
            }
            .review-guide{@include conSize(100%, 50px, 50px); position:relative; margin:15px 0 0 0; border:1px solid $b; border-radius:25px; text-align:center;}
        }
        .quick-link{background:$f;
            li{padding:0 20px;
                a{@include display(flex, center, space-between); padding:12px 0; border-bottom:1px solid #D9D9D9;
                    p{@include font(14px, 400); }
                    .arrow{@include arrow2; transform:rotate(-90deg)}
                }
                &:last-child a{border-bottom:0;}
            }
        }
    }
}

/******************************************
회원정보
/routes/mypage/Profile.vue
******************************************/
.profile_container{
    &_inner{
        .profile-edit{padding:20px;
            .profile-img{@include conSize(102px, 102px); position:relative; margin:0 auto; background:#D9D9D9; border-radius:50%;}
            .album{@include position(absolute, null, 0, 0); 
                input[type='file']{position:absolute; left:0; opacity:0;}
            }
        }
        .profile-info-list{padding:0 20px;
            li{@include display(flex, center, space-between); padding:15px 0; border-bottom:1px solid #d9d9d9;
                span{margin:0 0 8px 0; color:#979797}
                p{line-height:1;}
                .arrow{@include arrow2; transform:rotate(-90deg); margin:0 0 8px 0;}
            }
        }
        .profile-other{@include display(flex, center, center); column-gap:20px; margin:24px 0 0 0;
            a{position:relative; color:#979797;
                &::before{content:''; @include conSize(100%, 1px); @include position(absolute, null, null, 1px, 0); background:#979797}
            }
        }
    }
}

/******************************************
쿠폰
/routes/mypage/coupon.vue
******************************************/
.coupon_container{
    &_inner{
        .coupon-input{@include display(flex); column-gap:8px; padding:20px;
            input, button{@include conSize(null, 40px, 40px); border-radius:20px;}
            .form-group{width:calc(100% - 70px);
                input{padding:0 16px; background:#F1F1F1;
                    &::placeholder{color:#979797}
                }
            }
            button{max-width:62px; padding:0 18px; background:$b; color:$f; cursor:pointer;}
        }
        .coupon-list{min-height:100vh; padding:20px; background:#F1F1F1;
            li{padding:16px; margin-bottom:20px; background:$f; border-radius:8px;
                .top-column{padding:0 0 13px 0; margin:0 0 12px 0; border-bottom:1px solid #D9D9D9;
                    .coupon-due-date{@include conSize(null, 26px, 26px); max-width:67px; display:inline; padding:4px 10px; @include font(12px, 400, #979797); border:1px solid #979797; border-radius:13px;
                        span{display:inline;}
                    }
                    p{margin:8px 0 0 0}
                }
                .bott-column span{padding:2px 0; color:#979797}
                &:last-child{margin-bottom:0;}
            }
        }
    }
}

/******************************************
계정 삭제
/routes/mypage/AccountDelete.vue
******************************************/
.AccountDelete_container{
    &_inner{min-height:100vh; @include display(flex, null, space-between, column);
        .top-column{
            .txt-box{margin:0 0 60px 0; text-align:center;
                p{margin:10px 0 0 0;}
            }
            .leave-select{
                p{@include display(flex, center, center);}
                ul{position:relative; margin:16px 0 0 0;
                    .leave-select-li{@include display(flex, center, space-between); padding:14px 16px; @include font(14px, 400); background:#F1F1F1; border-radius:24px; color:#979797; cursor:pointer;
                        span{@include arrow2;}
                    }
                    ul{width:100%; position:absolute; padding:14px 16px; opacity:0; visibility:hidden; background:#fff; border-radius:10px; box-shadow:0px 3px 9px rgba(0,0,0, .05); transition:all .15s $easing;
                        li{padding:8px 0; border-bottom:1px solid #d9d9d9; @include font(14px, 400); cursor:pointer;
                            &:last-child{border-bottom:0;}
                        }
                        &.active{opacity:1; visibility:visible}
                    }
                }
            }
        }
        .bott-btn{
            a{@include aTag; @include conSize(null, 44px, 42px);}
            button{display:block; position:relative; margin:20px auto 0; color:#979797; cursor:pointer;
                &::before{content:''; @include conSize(100%, 1px); @include position(absolute, null, null, 1px, 0); background:#979797;}
            }
        }
    }
}