/******************************************
회원가입, 로그인, 비밀번호
/routes/join
******************************************/
.member_container{height:calc(var(--vh, 1vh) * 100);/*min-height:calc(100vh + 52px);*/ @include display(flex, null, space-between, column); padding:123px 24px 52px;
    &_inner{width:100%;}
    .etc{@include display(flex, center); column-gap:12px; @include position(absolute, 50%, 0, null, null, null); transform:translateY(-50%);
        .check-confirm, .pw-exposure{@include display(flex, center);
            &.active{filter:invert(1)}
        }
        .pw-exposure{@include conSize(22px, 15px); cursor:pointer;}
        .check-confirm{@include conSize(18px, 14px);}
    }
    // 회원가입
        // 서비스 이용 동의 1단계
        &.step1{
            .form-group{padding:12px 0;
                &.rep{padding:0 0 17px 0; margin:0 0 7px 0; border-bottom:1px solid #f1f1f1;}
                .arrow{@include conSize(7px, 18px); @include display(flex, center, center); @include position(absolute, 14px, 0, null, null, 99);
                    &::before, &::after{content:''; @include conSize(100%, 1px); position:absolute; background:#979797;}
                    &::before{transform:rotate(45deg); margin:0 0 5px 0;}
                    &::after{transform:rotate(-45deg); margin:5px 0 0 0;}
                }
            }
        }
        // 닉네임 등록 3단계
        &.step3{
            .nickname-guide{margin:0 0 32px 0; text-align:center;}
            .form-group{
                button{@include liTag; @include conSize(null, 30px, 28px); @include position(absolute, 50%, 0, null, null, null); transform:translateY(-50%); border-color:$b; color:$b;}
            }
        }
        // 완료
        &.complete{justify-content:flex-end; position:relative; z-index:99; background:#F1F1F1;
            canvas{@include conSize(100%, 100%); @include position(absolute, 0, null, null, 0, -1);}
            .member_container_inner{min-height:calc(100vh - 363px); @include display(flex, null, space-between, column);
                .txt-box{text-align:center;
                    & > div:first-child{margin:0 0 8px 0;}
                }
            }
        }
    // 아이디 찾기
    &.id-step1,
    &.id-step2,
    &.id-step3{padding-top:80px;}
        // 아이디 찾기_번호2
        &.id-step3{
            .id-guide{text-align:center;
                p{margin:6px 0 0 0;}
            }
            .id-list{max-height:50vh; margin:33px 0 0 0; overflow-y:auto;
                li{@include display(flex, center); column-gap:10px; padding:10px; margin:0 0 10px 0; border:1px solid #D9D9D9; border-radius:50px; cursor:pointer;
                    .user-profile-img{@include conSize(40px, 40px); @include display(flex, center, center); border-radius:50%;}
                    .user-info p{@include display(flex); 
                        &:last-child{column-gap:5px; margin:5px 0 0 0; color:$gray;}
                    }
                    &:last-child{margin:0;}
                }
            }
            .bott-btn-box{width:100%; text-align:center;
                a:first-child{margin:0 0 28px 0;}
            }
        }
    // 비밀번호 찾기
        // 비밀번호 찾기 1-1
        &.FindPW_Email_Step1{
            .password-guide{margin:20px 0 0 0; color:$b; text-align:center;}
        }
        &.FindPW_Email_Step1,
        &.FindPW_Email_Step2,
        &.pw-reset{padding-top:80px;}
        &.pw-step1{
            .pw-guide{@include display(flex, null, center); column-gap:5px; margin:20px 0 0 0;}
        }
    // 권한
    &.authority{height:calc(var(--vh, 1vh) * 100);/*min-height:calc(100vh + 41px);*/ padding:104px 24px 52px;
        .intro-txt-box{margin:0 0 40px 0; text-align:center;
            & > div:first-child{margin:0 0 6px 0;}
        }
        .authority-list{padding:0 20px;
            li{@include display(flex, center, space-between); padding:0 0 16px 0; margin:0 0 16px 0; border-bottom:1px solid #f1f1f1;
                .txt-box{
                    p{@include display(flex, flex-end); margin:0 0 5px 0;
                        span{color:#979797;}
                    }
                }
                .authority-con{@include conSize(50px, 50px); border:1px solid $light-gray; border-radius:50%;
                    @for $i from 1 to 5{
                        &-#{$i}{background:url('@/assets/image/authority-con-#{$i}.png') center no-repeat;}
                    }
                    &-1{background-position:15px;}
                }
                &:last-child{padding:0; margin:0; border-bottom:0;}
            }
        }
        .authority-guide{@extend .password-guide; margin:39px 0 18px 0; text-align:center;}
        .bott-btn-box{text-align:center;}
    }
    @include responsive-320{padding:123px 15px 52px;}
}

/******************************************
로그인 시작 페이지
/routes/login/Login.vue
******************************************/
.login_container{height:calc(var(--vh, 1vh) * 100); display:block; padding:0;
    &_inner{max-width:500px; height:100%; padding:108px 36px 59px; @include display(flex, null, space-between, column); text-align:center;
        .intro-txt-box{
            p{margin:6px 0 0 0;}
        }
        .login-form{
            a{display:block;}
            .login-form-input1{
                a{@include conSize(null, 44px, 44px); margin:16px 0 0 0; background:$b; color:$f; border-radius:50px;}
            }
            .login-form-input2{@include display(flex, center, center); column-gap:20px; margin:30px 0 25px 0;
                button{@include conSize(54px, 54px); border-radius:50%;
                    @include responsive-320{@include conSize(45px, 45px);}
                }
                @include responsive-360{column-gap:12px;}
            }
            .login-form-input3{
                a{@include font(12px, 400, $gray);}
                ul{@include display(flex, center, center);
                    li{position:relative; margin-right:8px; padding-right:8px;
                        &::after{content:""; @include conSize(1px, 11px); position:absolute; top:3px; right:0; background:$gray;}
                        &:last-child{margin-right:0; padding-right:0;
                            &::after{display:none;}
                        }
                    }
                }
            }
        }
        @include responsive-320{padding:108px 15px 59px;}
    }
}

/******************************************
마이 페이지
/routes/mypage/MyPage.vue
******************************************/
.mypage_container{height:calc(var(--vh, 1vh) * 100);
    &_inner{
        & > div{padding:20px; background:$f;}
        .my-profile{@include display(flex, center, space-between); border-bottom:1px solid #D9D9D9; cursor:pointer;
            &-info{@include display(flex, center); column-gap:12px;
                .profile-img{@include conSize(52px, 52px); border-radius:50%; background:#D9D9D9}
                p{@include display(flex, center); column-gap:6px;
                    .login-current{@include conSize(18px, 18px); background:url(../image/google.png) center no-repeat;}
                }
                .member-email{color:#979797;}
            }
            .arrow{@include arrow2; transform:rotate(-90deg);}
        }
        .my-quick{padding:24px 20px 13px; border-bottom:9px solid #f1f1f1;
            ul{@include display(flex);
                li{flex:1;
                    a{text-align:center;
                        .my-quick-icon{@include conSize(40px, 40px); margin:0 auto; margin-bottom:12px;
                            @for $i from 1 to 5{
                                &-#{$i}{background:url(../image/my-quick-icon-#{$i}.png) center no-repeat; background-size:cover;}
                            }
                        }
                    }
                }
            }
            .review-guide{@include conSize(100%, 50px, 48px); position:relative; margin:15px 0 0 0; border:1px solid $b; border-radius:25px; text-align:center;}
        }
        .quick-link{padding-bottom:24px; background:$f;
            li{padding:0 20px;
                a{@include display(flex, center, space-between); padding:12px 0; border-bottom:1px solid #D9D9D9;
                    p{@include font(14px, 400); }
                    .arrow{@include arrow2; transform:rotate(-90deg)}
                }
            }
        }
    }
}

/******************************************
회원정보
/routes/mypage/Profile.vue
******************************************/
.profile_container{height:calc(var(--vh, 1vh) * 100); @include display(flex, null, space-between, column);
    &_inner{width:100%;
        .profile-edit{padding:20px;
            .profile-img{@include conSize(102px, 102px); position:relative; margin:0 auto; background:#D9D9D9; border-radius:50%;}
            .album{@include position(absolute, null, 0, 0); overflow:hidden;
                input[type='file']{position:absolute; left:0; opacity:0;}
            }
        }
        .profile-info-list{padding:0 20px;
            & > li{@include display(flex, center, space-between); padding:15px 0; border-bottom:1px solid #d9d9d9;
                .left-row{
                    span{margin:0 0 8px 0; color:#979797}
                    p{line-height:1;}
                }
                button{@include liTag; line-height:26px; border-color:#979797; color:$b;}
            }
        }
        .person-info{
            .left-row{width:100%;
                .person-info-inner{
                    & > div{@include display(flex); column-gap:20px;
                        span{width:80px; @include font(12px, 400, $b)}
                        p{width:calc(100% - 80px); @include font(14px, 400, $b)}
                    }
                }
            }
        }
    }
    .profile-other{@include display(flex, center, center); column-gap:20px;
        a{position:relative; color:#979797;
            &::before{content:''; @include conSize(100%, 1px); @include position(absolute, null, null, 1px, 0); background:#979797}
        }
    }
}

/******************************************
닉네임, 비밀번호 변경
/routes/mypage/ChangeNickname.vue
******************************************/
.ChangeNickname_container,
.ChangePassword_container,
.ChangePassword_Confirm_container{height:calc(var(--vh, 1vh) * 100); padding:48px 0 52px 0;
    &_inner{width:100%; height:100%; @include display(flex, null, space-between, column); padding:28px 20px 0;
        .txt-box{
            >p:first-of-type{text-align: center;}
            button{@include liTag; line-height:27px; display:block; @include position(absolute, 50%, 0); transform:translateY(-50%); word-break:initial; border-color:$b;}
        }
        .bott-btn{@include aTag; @include conSize(null, 44px, 42px);}
        //@include responsive-360{min-height:calc(var(--vh, 1vh) * 100);}
    }
}

/******************************************
쿠폰
/routes/mypage/coupon.vue
******************************************/
.coupon_container{
    &_inner{
        .coupon-input{@include display(flex); column-gap:8px; padding:20px;
            input, button{@include conSize(null, 40px, 40px); border-radius:20px;}
            .form-group{width:calc(100% - 70px);
                input{padding:0 16px; background:#F1F1F1;
                    &::placeholder{color:#979797}
                }
            }
            button{max-width:62px; padding:0 18px; background:$b; color:$f; cursor:pointer;}
        }
        .coupon-list{min-height:100vh; padding:20px; background:#F1F1F1;
            li{padding:16px; margin-bottom:20px; background:$f; border-radius:8px;
                .top-column{padding:0 0 13px 0; margin:0 0 12px 0; border-bottom:1px solid #D9D9D9;
                    .coupon-due-date{@include conSize(null, 26px, 26px); max-width:67px; display:inline; padding:4px 10px; @include font(12px, 400, #979797); border:1px solid #979797; border-radius:13px;
                        span{display:inline;}
                    }
                    p{margin:8px 0 0 0}
                }
                .bott-column span{padding:2px 0; color:#979797}
                &:last-child{margin-bottom:0;}
            }
        }
    }
}

/******************************************
계정 삭제
/routes/mypage/AccountDelete.vue
******************************************/
.AccountDelete_container{height:calc(var(--vh, 1vh) * 100); padding:76px 0 42px 0;
    &_inner{height:100%; @include display(flex, null, space-between, column); padding:0 20px;
        .top-column{
            .txt-box{margin:0 0 60px 0; text-align:center;
                p{margin:10px 0 0 0;}
            }
            .leave-select{
                p{@include display(flex, center, center);}
                ul{position:relative; margin:16px 0 0 0;
                    .leave-select-li{@include display(flex, center, space-between); padding:14px 16px; @include font(14px, 400); background:#F1F1F1; border-radius:24px; color:#979797; cursor:pointer;
                        span{@include arrow2;}
                    }
                    ul{width:100%; position:absolute; z-index:99; padding:14px 16px; opacity:0; visibility:hidden; background:#fff; border-radius:10px; box-shadow:0px 3px 9px rgba(0,0,0, .05); transition:all .15s $easing;
                        li{padding:8px 0; border-bottom:1px solid #d9d9d9; @include font(14px, 400); cursor:pointer;
                            &:last-child{border-bottom:0;}
                        }
                        &.active{opacity:1; visibility:visible}
                    }
                }
                .form-group2{margin:16px 0 0 0;
                    textarea{@include font(14px, 400)}
                }
            }
        }
        .bott-btn{
            a{@include aTag; @include conSize(null, 44px, 42px);}
            button{display:block; position:relative; margin:20px auto 0; color:#979797; cursor:pointer;
                &::before{content:''; @include conSize(100%, 1px); @include position(absolute, null, null, 1px, 0); background:#979797;}
            }
        }
    }
}