/******************************************
알럿창(비밀번호 재설정 등)
******************************************/
.member_alert{@include conSize(100%, 100%); @include display(flex, center, center); @include position(fixed, 0, null, null, 0, 999); opacity:0; visibility:hidden; transition:all .3s $easing;
    .overlay{@include overLay;}
    &_inner{width:calc(100% - 64px); padding:36px 20px 20px; background:$f; border-radius:8px; box-shadow:0px 0px 30px 5px rgba(0,0,0, .1); text-align:center;
        div{margin:0 0 36px 0;}
    }
    &.active{opacity:1; visibility:visible;}
}

/******************************************
모달창 공통 레이아웃(후기 솔팅, 리뷰 신고하기)
-> 구조 AlertManage.vue
******************************************/
.comm_modal_layout{
    .comm_modal_layout_tit{@include display(flex, center, space-between); margin:0 0 17px 0;}
    .comm_modal_layout_tit_list{
        li{@include radioBox1; position:relative; padding:12px 0; border-bottom:1px solid #D9D9D9;
            &:last-child{border-bottom:0;}
        }
    }
    button{margin:15px 0 0 0;}
}

// 플레이스 상세 - 문의하기 모달창
.work-inquiry-modal{@include conSize(100%, 100%); @include display(flex, flex-end); opacity:0; visibility:hidden; @include position(fixed, 0, null, null, 0, 99); transition:all .3s $easing;
    .overlay{@include overLay;}
    &-inner{width:100%; position:relative; bottom:-100%; padding:34px 20px; background:$f; border-radius:16px 16px 0 0; transition:all .8s $easing;
        .inquiry-form{@include display(flex); column-gap:16px;
            a{flex:1; min-height:150px; @include display(flex, center, center, column); row-gap:12px; background:#F1F1F1; border-radius:16px}
        }
        .work-inquiry-modal-close{@include aTag; @include conSize(null, 44px, 44px); margin:20px 0 0 0; background:$f; border:1px solid $b; color:$b; cursor:pointer;}
    }
    &.active{opacity:1; visibility:visible;
        .work-inquiry-modal-inner{bottom:0;}
    }
}

// 운동 일정 변경 모달창 /components/modal/ScheduleChange.vue
.ScheduleChange_alert{@include conSize(100%, 100%); @include display(flex, flex-end); position:fixed; top:0; z-index:100; 
    .overlay{@include overLay;}
    &_inner{width:100%; padding:38px 20px; background:$f; border-radius:16px 16px 0 0;
        & > div{margin-bottom:20px;
            &:last-child{margin-bottom:0;}
        }
        .existing{padding:12px 35px; border:1px solid #D9D9D9; border-radius:8px; text-align:center;
            &.border_none{border: none;}
            p{margin:4px 0 0 0;}
        }
        .day{
            div{@include conSize(null, 44px, 44px); @include display(flex, center, center); background:#F1F1F1; border:1px solid $b; border-radius:50px;
                span{@include font(16px, 700);}
                & > span{@include display(flex); column-gap:3px; margin:0 12px;}
            }
            &-list{@include display(flex, null, center); column-gap:8px; margin:12px 0 0 0;
                li{@include conSize(null, 40px, 40px); padding:0 8px; @include font(14px, 400, #979797); border:1px solid #D9D9D9; border-radius:50px; cursor:pointer;
                    &.active{color:$b; border-color:$b;}
                }
            }
        }
        .datePicker{
            .apply{@include display(flex, center, null, column); padding:10px 0; background:#F1F1F1; border:1px solid $b; border-radius:20px;
                div{@include display(flex); column-gap:12px;
                    p{@include display(flex, center);
                        span{@include font(16px, 700)}
                    }
                }
            }
        }
        .day_change_btn{text-align:center;
            div{@include display(flex, center, center); column-gap:8px; margin:20px 0 0 0;
                button{flex:1; @include conSize(null, 44px, 44px); @include font(16px, 700); border:1px solid $b; border-radius:50px; cursor:pointer;
                    &:last-child{border:none; background:$b; color:$f;}
                }
            }
        }
    }
}

// 주문내역 삭제 모달창 /routes/order/OrderInquiry.vue
.order-delete-modal{opacity:0; visibility:hidden; transition:all .3s $easing;
    .txt-box{margin:0 0 20px 0;
        p{margin:0 0 9px 0;}
    }
    .bott-btn{@include display(flex); column-gap:8px; margin:0;
        button{@include aTag; @include conSize(null, 44px, 44px); margin:0; cursor:pointer;
            &:first-child{background:$f; border:1px solid $b; color:$b;}
        }
    }
    &.active{opacity:1; visibility:visible;}
}

// 쿠폰 발급 모달창 /routes/mypage/coupon.vue
.coupon-issue-modal{opacity:0; visibility:hidden; transition:all .3s $easing;
    &-inner{
        .txt-box{margin:0 0 27px 0;
            p{margin:0 0 7px 0;}
        }
        .bott-btn{margin:0;
            button{@include aTag; @include conSize(null, 44px, 44px); margin:0; cursor:pointer;}
        }
    }
    &.active{opacity:1; visibility:visible;}
}

// 탈퇴 모달창 /routes/mypage/AccountDelete.vue
.AccountDelete-modal{
    &-inner{
        .txt-box{margin:0 0 32px 0;
            div{margin:0 0 12px 0;}
        }
        a{@include aTag; @include conSize(null, 44px, 42px);}
    }
}

// 탈퇴 이유 선택 모달창
.AccountDelete-reason-modal{
    &-inner{
        button{@include aTag; @include conSize(null, 44px, 42px); margin:48px 0 0 0; cursor:pointer;}
    }
}

// 리뷰 - 신고 이유 모달창
.review-report-modal{@include display(flex, flex-end);
    &-inner{width:100%; max-width:100%; padding:0;
        .top-column{@include display(flex, center, space-between); margin:0; padding:24px 20px; border-bottom:1px solid #d9d9d9;
            .close{@include conSize(21px, 21px); @include display(flex, center, center); position:relative; margin:0; cursor:pointer;
                &::before, &::after{content:''; @include conSize(100%, 2px); position:absolute; background:$b;}
                &::before{transform:rotate(45deg)}
                &::after{transform:rotate(-45deg)}
            }
        }
        .report-list{
            li{@include radioBox1; padding:20px 15px; border-bottom:1px solid #d9d9d9;
                .txt-box{margin:0;}
            }
        }
        button{width:calc(100% - 40px); margin:10px auto 32px;}
    }
}

// 모달창 vue transtion 애니메이션
.slide-enter-from {
    transform: translateY(100%);
}
.slide-enter-active {
    transition: all 0.5s;
}
.slide-enter-to {
    transform: translateY(0);
}
.slide-leave-from {
    transform: translateY(0);
}
.slide-leave-active {
    transition: all 0.5s;
}
.slide-leave-to {
    transform: translateY(100%);
}