/******************************************
주문내역 
/routes/order/OrderInquiry.vue
******************************************/
.orderinquiry_container{
    &_inner{min-height:100vh; background:#f1f1f1;
        .order-list{
            & > li{padding:20px; background:$f; border-bottom:9px solid #F1F1F1;
                &:last-child{border-bottom:0;}
            }
            .top-row{@include display(flex, center, space-between);
                & > div{@include display(flex);}
                p{@include font(12px, 400, #979797);}
                .menu-dot{@include menuDot;
                    .list{@include placeList;
                        button{cursor:pointer;}
                    }
                }
                .order-current{@include conSize(null, 26px, 26px); padding:0 12px; margin:0 25px 0px 0; @include font(12px, 400); border:1px solid #979797; border-radius:13px;}
            }
            .mid-row{@include display(flex, null, space-between); margin:12px 0;
                .left-column{
                    & > div{@include display(flex);
                        .trainer-name{margin:0 5px 0 0;}
                    }
                    p{@include display(flex);
                        .work{max-width:120px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
                    }
                }
                .center-img{@include conSize(70px, 70px); background:#D9D9D9; border-radius:8px;}
            }
            .bott-row{@include display(flex); flex-flow:column; row-gap:8px;
                a, div{@include conSize(100%, auto, 1); min-height:38px; @include display(flex, center, center); @include font(14px, 700, $b); border:1px solid $b; border-radius:19px; text-align:center;
                    &.review-induce{justify-content:center; padding:0; margin:0; background:$b; color:$f;}
                    &.review-write-current{background:#F1F1F1; border:none; color:#979797;}
                }
            }
        }
    }
}

/******************************************
주문내역 상세
/routes/order/OrderInquiryView.vue
******************************************/
.OrderInquiryView_container{
    &_inner{
        & > div{padding:20px; border-bottom:9px solid #f1f1f1;
            &:last-child{border-bottom:0;}
            @include responsive-320{padding:15px;}
        }
        .order-current{@include orderCurrent;}
        // 수강회원 정보
        .member-info{@include memberInfo;}
        // 주문상품
        .order-product{@include orderProduct;}
        // 결제정보
        .order-info{@include orderInfo; border-bottom:0;
            .bott-btn{@include display(flex); flex-flow:column; row-gap:8px; margin:20px 0 0 0;
                button{@include aTag; margin:0; background:$f; border:1px solid $b; color:$b; cursor:pointer;}
            }
        }
        // 결제 취소 가이드
        .order-cancle-guide{@include font(12px, 400, #979797); background:#F1F1F1; text-align:center;
            a{position:relative; margin:0 0 0 4px; color:inherit;
                &::before{content:''; @include conSize(100%, 1px); @include position(absolute, null, null, 1px, 0); background:#979797;}
            }
        }
    }
}

/******************************************
취소내역 상세
/routes/order/CancelInquiry.vue
******************************************/
.CancelInquiry_container{
    &_inner{
        & > div{padding:20px;
            @include responsive-320{padding:15px;}
        }
        // 주문 일시, 번호
        .order-current{@include orderCurrent;}
        // 환불 예정 가이드
        .refund-expected-guide{background:#F1F1F1;
            p{@include display(flex, center, center); @include font(14px, 400, #979797);
                span{margin:0 0 0 5px; font-weight:700;}
                @include responsive-320{display:inline-block; font-size:12px; text-align:center;
                    span{display:inline; margin:0;}
                }
            }
        }
        // 주문 상품
        .order-product{@include orderProduct; border-bottom:9px solid #f1f1f1;}
        // 환불 안내
        .order-info{@include orderInfo;
            &-list{margin:0 0 5px 0;
                &-1{margin:0; border-bottom:0;}
            }
            .bott-btn{padding:7px 0 0 0; border-top:1px solid #F1F1F1;
                & > div{@include display(flex, center, space-between); padding:3px 0;
                    &:last-child p:last-child{@include display(flex, flex-end); column-gap:6px;
                        span{color:#979797;}
                    }
                }
            }
        }
        // 환불 안내 가이드
        .refund-guide{@include font(12px, 400, #979797); background:#F1F1F1; text-align:center;}
    }
}