/******************************************
플레이스 리스트 
/components/routes/place/PlaceList.vue
******************************************/
.placeList_container{
    &_inner{
        .filter-scroll{@include filterScroll;}
        .PlaceData-form{@include placeList2;}
        .map-move{
            @include conSize(null, 34px, 34px); @include display(flex, center, center); 
            @include position(fixed, null, null, 104px, 50%); transform:translateX(-50%); padding:0 12px 0 7px; 
            background:$f; border:1px solid $b; border-radius:17px; box-shadow:4px 4px 25px rgba(0,0,0, .15);
        }
    }
}

/******************************************
발견(플레이스, 트레이너) 리스트 
/components/routes/place/DiscoverList.vue
******************************************/
.discover_container{position:relative; 
    //overflow-y: scroll;
    .map{@include conSize(100%, 100%); position:fixed;
        iframe{@include conSize(100vw, 100vh);}
    }
    &_inner{max-width:100%; height:calc(100vh - 155px); position:relative; 
        padding:32px 0 46px; margin-top:calc(100vh - 48px - 172px); 
        background:$f; border-radius:16px 16px 0 0;

        .location-pin{@include conSize(40px, 40px); @include display(flex, center, center); box-shadow:0 5px 10px rgba(0,0,0, .3);
            @include position(absolute, -56px, 20px); background:$f; border-radius:50%; cursor:pointer;

            img{margin:0 0 0 -1px}
        }
        .discover-filter-ul{@include useTab2;}
        .place-discover-list,
        .trainer-discover-list{display: flex;flex-direction: column;
            .place-data-wrap,
            .trainer-data-wrap{flex-grow: 1; overflow-y: scroll; }
            .PlaceData-form,
            .TrainerData-form{margin:0 0 16px 0; padding:0 0 16px 0; border-bottom:1px solid #D9D9D9;}

            .filter-scroll{margin:20px 0; padding:0; flex-shrink:0;
                li{color:$b;
                    &:last-child{margin:0;}
                    img{margin:0;}
                }
            }
        }
        
        .place-discover-list{@include placeList2; border-bottom:0;}
        .trainer-discover-list{@include placeTrainerList2; border-bottom:0;}
    }
}

/******************************************
플레이스 상세 페이지
/components/routes/place/PlaceDetail.vue
/components/routes/trainer/TrainerDetail.vue
******************************************/
.detail_container{
    &_inner{overflow:hidden;
        & > div{border-bottom:1px solid #D9D9D9;
            &.place-map{padding:0; border:none;}
            &:last-child{margin-bottom:0; border-bottom:0;}
        }
        .place-each-tit{margin:0 0 20px 0;}
        // 지도 보기
        .place-map{
            .swiper-slide{position:relative;
                iframe{@include conSize(100%);
                    @media(min-width:1921px){height:770px;}
                    @media(max-width:1920px){height:50vw}
                    @include responsive-991(){height:100vh;}
                    @include responsive-480(){height:100vw;}
                }
                .place-map-move{@include conSize(100%, 100%); @include display(flex, center, center); @include position(absolute, 0, null, null, 0);}
            }
        }
        // 플레이스 정보
        .place-info{@include display(flex, null, space-between); padding:20px;
            .left-row{
                .place-info-txt{
                    p{@include display(flex, center); column-gap:5px;
                        &.f-12-400{column-gap:0;
                            span{@include display(flex, center); @include afterLine;
                                &::after{height:11px; background:#ACACAC}
                            }
                        }
                    }
                    .location{@include display(flex, center); color:#979797;}
                }
                .place-info-scope{@include display(flex, center); column-gap:6px; margin:8px 0;
                    //.starBox{@include display(flex)}
                    .scope-current{@include display(flex);
                        span{color:#979797;}
                    }
                }
                .place-info-filter{@include display(flex); column-gap:5px;
                    li{@include liTag; @include font(12px, 400);}
                }
                @include responsive-360{order:2;}
            }
            .right-row{@include display(flex); column-gap:20px;
                .heart, .share{cursor:pointer;}
                @include responsive-360{order:1;}
            }
            @include responsive-360{flex-flow:column; padding:15px;}
        }
        // 플레이스 상품
        .place-ticket{padding:20px;
            .swiper-slide{min-height:128px; @include display(flex, null, space-between, column); padding:16px; background:$f; border-radius:8px; box-shadow:0 5px 10px rgba(0,0,0, .05);
                div:last-child{@include display(flex, flex-end, null, column);}
                &:last-child{@include allBtn; align-items:center; justify-content:center; background:none; box-shadow:none;}
                .discount{color:#979797}
            }
            @include responsive-360{padding:15px;}
        }
        // 이용 후기
        .place-review{padding:20px 0 20px 20px;
            &-tit{@include display(flex); column-gap:8px;
                div{@include display(flex, center);
                    img{margin:-2px 0 0 0;}
                    p{@include display(flex);}
                }
            }
            &-list{
                .review-write-info{margin:0 0 12px 0;
                    .review-writer{@include display(flex, center); column-gap:8px;
                        span{color:#979797}
                    }
                }
                .review-content{min-height:130px; padding:16px; background:$light-gray-2; border-radius:8px;}
            }
            .review-all-btn{width:calc(100% - 20px); margin:16px 20px 0 0;
                @include responsive-360{@include conSize(calc(100% - 20px), 40px, 39px);}
            }
            @include responsive-360{padding:15px 0 15px 15px;}
        }
        // 플레이스 설명
        .place-explain{padding:20px; 
            &-content{min-height:166px; line-height:1.6; position:relative; padding:12px; background:$light-gray-2; border-radius:8px;
                .more{@include more;}
            }
            @include responsive-360{padding:15px;}
        }
        // 운영시간
        .place-operate{padding:20px;
            &-detail{
                & > *{@include font(12px, 400)}
                & > div{
                    &:first-child{@include display(flex, null, space-between, wrap); column-gap:48px; position:relative; margin:0 0 12px;
                        div{width:calc(50% - 48px); @include display(flex); column-gap:10px;
                            @include responsive-500{width:40%;}
                            @include responsive-360{width:100%;}
                        }
                        &::after{content:''; @include conSize(1px, 32px); @include center(absolute); background:#D9D9D9;
                            @include responsive-360{display:none;}
                        }
                        @include responsive-500{column-gap:0; row-gap:4px;}
                        @include responsive-360{margin:0 0 15px;}
                    }
                    &:last-child{@include display(flex); column-gap:10px;
                        @include responsive-500{flex-flow:wrap;}
                        @include responsive-360{row-gap:4px;}
                    }
                }
            }
            @include responsive-360{padding:15px;}
        }
        // 자격사항
        .qualify{padding:20px;
            &-tit{margin:0 0 20px 0;}
            &-content{min-height:166px; line-height:1.8; position:relative; padding:12px; background:#F1F1F1; border-radius:8px;
                .more{@include more;}
            }
        }
        // 학력
        .ability{padding:20px;
            &-tit{margin:0 0 20px 0;}
            &-content{padding:12px; @include font(12px, 400); background:#F1F1F1; border-radius:8px;}
        }
        // 편의시설
        .place-convenience{padding:20px;
            .convenience-list{display:flex;
                li{width:calc(100% / 4); text-align:center;
                    div{min-height:40px;}
                    p{@include font(12px, 400);}
                }
            }

            .free{margin:0 0 30px 0;
                &-tit{margin:0 0 15px 0;}
                &-list{flex-flow:wrap; row-gap:15px;
                    li{
                        .free-icon{
                            @for $i from 1 to 9{
                                &-#{$i}{background:url('@/assets/image/free-icon-#{$i}.png') center no-repeat;}
                            }
                        }
                        p{margin:13px 0 0 0;}
                    }   
                }
            }
            .pay{
                &-tit{margin:0 0 15px 0;}
                &-list{
                    li{
                        .pay-icon{
                            @for $i from 1 to 3{
                                &-#{$i}{background:url('@/assets/image/pay-icon-#{$i}.png') center no-repeat;}
                            }
                        }
                        p{@include font(12px, 400);
                            &.pay-target{margin:7px 0 0 0;}
                        }
                    }
                }
            }
            @include responsive-360{padding:15px;}
        }
        // 운동 시설
        .place-facility{padding:20px;
            &-tit{margin:0 0 20px 0;}
            &-list{
                &-detail{overflow:hidden; border-radius:8px;
                    .place-img{@include conSize(100%, 500px); background:#D9D9D9; // 임시로 속성 쓴 거니 추후 수정 필요
                        @include responsive-991{height:50vw;}
                        @include responsive-480{height:170px;}
                    } 
                    .place-info{background:#F1F1F1;
                        .left-row{
                            .place-info-filter{margin:8px 0 0 0;
                                li{background:$f; border:none; color:$b;}
                            }
                        }
                    }
                }
            }
        }
        // 운동 기구
        @include placeMachineList;
        .place-machine{position:relative; padding:20px;
            &-all-btn{margin:20px 0 0 0;}
            &-list-wrap{position:relative;
                &::before{content:''; @include conSize(100%, 100px); position:absolute; bottom:0; z-index:55; box-shadow:inset 0px -40px 32px rgba(255, 255, 255, 0.9)}
            }
            

            @include responsive-360{padding:15px;}
        }
        // 1:1 트레이너
        .place-trainer{padding:20px 0 20px 20px;
            @include placeTrainerList; 
            &-tit{@include display(flex, flex-end); column-gap:8px;
                span{color:#979797}
            }
            &-all-btn{width:calc(100% - 20px); margin:16px 20px 0 0;
                @include responsive-360{@include conSize(null, 40px, 39px);}
            }

            @include responsive-360{padding:15px 0 15px 15px;}
        }
        // 환불정책
        .place-refunt{padding:20px;
            &-content{min-height:166px; line-height:1.8; position:relative; margin:0; padding:12px; @include font(12px, 400); background:#F1F1F1; border-radius:8px;
                .more{@include more;}
            }
            @include responsive-360{padding:15px;}
        }
    }
    // 문의하기/운동 선택하기 버튼
    .place-lnb{@include bottLnb; margin-bottom:0; border-bottom:0;
        button{cursor:pointer;}
    }
    
}

/******************************************
플레이스 상세 페이지 - 후기
/components/routes/place/PlaceReview.vue
******************************************/
.PlaceReview_container{
    &_inner{
        .top-column{@include display(flex, null, space-between); padding:22px 20px; background:$f; border-bottom:8px solid #F1F1F1;
            .left-row{@include display(flex, center); column-gap:5px;
                p{@include display(flex, flex-end); column-gap:5px;
                    span:last-child{color:$gray;}
                }
            }
            .right-row{@include conSize(null, 32px, 30px); position:relative; z-index:10; padding:0 12px; border:1px solid $blue; border-radius:16px; cursor:pointer;
                li{@include display(flex, center, null, null);
                    p{color:$blue}
                    span{@include arrow;}
                }
            }
        }
        .total-review-form{margin-bottom:4px; padding:20px 0 24px; border-bottom:8px solid #F1F1F1;
            & > div{padding:0 20px;}
            .review-writer{@include WriterInfo;}
            .review-content{
                .member-review{
                    &-img{@include conSize(156px, 156px); margin:20px 0 0 0; border-radius:8px; background:#D9D9D9;}
                }
                .place-answer{padding:12px; margin:24px 0 0 0; background:$light-gray-2; border-radius:8px;
                    p{@include display(flex, flex-end); column-gap:8px; margin:0 0 10px 0;
                        span{color:$gray;}
                    }
                }
            }
            &:last-child{margin-bottom:0; border:none}
        }
    }
}

/******************************************
플레이스 상세 페이지 - 운동기구
/components/routes/place/PlaceMachine.vue
******************************************/
.PlaceMachine_container{padding-top:80px;
    &_inner{@include placeMachineList;}
}

/******************************************
플레이스 상세 페이지 - 1:1 트레이너
/components/routes/place/PlaceTrainer.vue
******************************************/
.PlaceTrainer_container{padding-top:80px;
    &_inner{display:grid; grid-template-columns:repeat(2,1fr); column-gap:8px; row-gap:20px;
        .place-trainer-list{@include placeTrainerList; }
    }
}

/******************************************
플레이스, 트레이너 상세 페이지 - 운동 선택하기
/components/routes/place/PlaceMachine_Choice.vue
/components/routes/trainer/TrainerMachine_Choice.vue
******************************************/
.place-choice-layout{
    &-inner{//padding:0 20px;
        .place-choice-form{position:relative; padding:0 20px;
            .place-choice-list-layout{
                & > div{line-height:1; @include font(16px, 700)}
                &-tit{@include display(flex, center); column-gap:6px;
                    span{margin:8px 0 0 0;}
                }
                ul{@include display(flex); flex-flow:column; row-gap:8px; margin:16px 0 0 0;
                    li{@include display(flex, center, space-between); @include radioBox1; padding:12px 14px; border:1px solid #E1E1E1; border-radius:8px;
                        input[type='radio']{
                            + label{width:100%; @include display(null, initial, null, column);}
                        }
                        .each-tit{@include display(flex, center); column-gap:12px;}
                        .right-column{text-align:right}
                        .discount{@include font(12px, 400, #979797);}
                        .percent{display:inline; color:$purple;}

                        &.flex-flow{min-height:130px; align-items:initial;
                            .bott-row{ @include display(flex, flex-end, null, column)}
                        }
                        &.active{border:1px solid $purple;}
                    }
                }
                &.mp{margin-bottom:16px; padding-bottom:16px; border-bottom:1px solid #D9D9D9;
                    &:last-child{margin-bottom:0; padding-bottom:20px; border-bottom:none;}
                }
            }
            &-tit{padding:20px 0 16px; margin-bottom:16px; border-bottom:1px solid #D9D9D9;
                p{color:$purple;}
                span{margin:5px 0 0 0;}
            }

            &.border{padding-bottom:20px;
                &::after{content:''; @include conSize(100%, 8px); @include position(absolute, null, null, -8px, 0); background:#f1f1f1;}
            }
        }
    }
    .bott-pay-btn{width:100%; @include position(fixed, null, null, 0, 0, 99); padding:16px 20px 32px; background:$f; border:1px solid #F1F1F1; border-radius:16px 16px 0 0; box-shadow:0 -1px 22px rgba(0,0,0, .1);
        .place-name{margin:0 0 12px 0; text-align:center}
        .choice-machine-list{margin:0 0 12px 0; padding:0 0 12px 0; border-bottom:1px solid #D9D9D9;
            li{@include conSize(null, 36px, 1); @include display(flex, center); margin:0 0 4px 0; padding:0 16px; background:#F1F1F1; border-radius:8px;
                div{@include display(flex, center);
                    .discount{color:#979797}

                    .choice-product{/*width:6rem;*/ overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
                    .choice-pay{column-gap:8px;
                        p{@include font(14px, 400)}
                    }
                }
                .close{@include conSize(15px, 15px); @include display(flex, center, center); position:relative; margin:0 0 0 9px; cursor:pointer;
                    &::before, &::after{content:''; @include conSize(100%, 1px); position:absolute; background:$b;}
                    &::before{transform:rotate(45deg)}
                    &::after{transform:rotate(-45deg)}
                }
                & > div{
                    &:first-child{width:100%; justify-content:space-between;}
                }
                &:last-child{margin:0;}
            }
        }
        .total-pay{
            div{@include display(flex);
                div{justify-content:space-between;}
                .lightgray{color:#979797;}
            }
            & > div{flex-flow:column;}
            button{@include aTag; @include conSize(null, 44px, 44px); @include font(16px, 700, $f); background:#D9D9D9; border:none;}
        }
    }
}

.trainer-machine-choice{
    .place-choice-form{
        .place-choice-list-layout{padding-bottom:16px; margin-bottom:16px; border-bottom:1px solid #D9D9D9;
            &.notBoder{padding-bottom:0; margin-bottom:0; border-bottom:0;}
        }
    }
}

/******************************************
플레이스 상세 페이지 - 결제하기
/components/routes/place/PlacePay.vue
******************************************/
.PlacePay_container{
    &_inner{
        & > div{padding:0 20px; border-bottom:6px solid #F1F1F1;}
        // 주문상품
        .choice-product{@include display(flex, center, space-between); padding-top:20px; padding-bottom:20px;}
        // 수강회원 정보
        .member-info{padding-top:16px; padding-bottom:16px;
            &-tit{@include display(flex, center, space-between); margin:0 0 16px 0;
                button{@include conSize(null, 24px, 22px); padding:0 7px; border:1px solid #979797; border-radius:12px;}
            }
            &-input{
                & > div{@include display(flex, center); margin:0 0 8px 0;
                    &:last-child{margin:0;}
                }
                span{width:80px;}
                .form-group{width:calc(100% - 80px);
                    input{@include conSize(null, 32px, 32px); padding:0 10px; background:#F1F1F1; border-radius:16px;
                        &:focus{border:none;}
                    }
                }
            }
        }
        // 쿠폰
        .coupon{padding-top:20px; padding-bottom:20px;
            &-tit{margin:0 0 10px 0;}
            &-list{width:100%; position:relative; cursor:pointer;
                & > li{@include conSize(100%, 48px, 48px); @include display(flex, center, space-between); position:relative; padding:0 16px; border:1px solid #979797; border-radius:8px; background:#F1F1F1;
                    .arrow{@include conSize(9px, 8px); @include display(flex, center); position:relative; 
                        &::before, &::after{content:''; @include conSize(100%, 1px); position:absolute; background:#979797; transition:all .15s $easing;}
                        &::before{right:6px; transform:rotate(45deg)}
                        &::after{transform:rotate(-45deg)}
                    }
                }
                ul{width:100%; position:absolute; z-index:99; margin:10px 0 0 0; padding:0 16px; opacity:0; visibility:hidden; background:$f; border-radius:8px; box-shadow:0 3px 10px rgba(0,0,0, 0.05); transition:all .15s $easing;
                    li{padding:8px 0; @include font(14px, 400);}
                }
                &.couponOpen{
                    & > li .arrow{margin:-1px 0 0 0;
                        &::before{transform:rotate(-45deg)}
                        &::after{transform:rotate(45deg)}
                    }
                    ul{opacity:1; visibility:visible;}
                }
            }
        }
        // 결제수단
        .payment-method{padding-top:16px; padding-bottom:20px;
            .method{margin:0 0 10px 0; padding:0 0 10px 0; border-bottom:1px solid #F1F1F1;
                &:last-child{margin:0;}
            }
            &-tit{margin:0 0 13px 0;}
            .top-row{@include display(flex, null, space-between);
                .left-column{@include display(flex, center); column-gap:8px; cursor:pointer;
                    .check-current{@include conSize(24px, 24px); background:#F1F1F1; border:1px solid #D9D9D9; border-radius:50%;}
                }
            }
            .my-card{
                .top-row{margin:0 0 17px 0;}
                .swiper-container{padding:0 0 0 75px;}
                &-edit{@include conSize(null, 24px, 22px); padding:0 8px; border:1px solid #979797; border-radius:12px; color:#979797; cursor:pointer;}
            }
        }
        // 결제금액
        .amount-pay{padding-top:16px; padding-bottom:24px;
            &-tit{margin:0 0 14px 0;}
            &-list{
                & > div{@include display(flex, null, space-between); padding:3px 0;}
                .discount-history{
                    li{@include display(flex, null, space-between); padding:3px 0; color:#979797;
                        span{@include conSize(6px, 6px); margin:3px 7px 0 0; border:1px solid #979797; border-top:0; border-right:0;}
                        div{@include display(flex)}
                    }
                }
            }
            &-total{@include display(flex, center, space-between);
                .total-amount{@include display(flex, flex-end);
                    span{margin:0 0 2px 0;}
                }
            }
        }
        // 약관동의
        .pay-terms{padding-top:17px; padding-bottom:17px; border-bottom:1px solid #F1F1F1;
            & > div{@include display(flex, flex-end, space-between); padding:3px 0;
                a{color:#979797}
            }
        }
        // 결제하기
        .last-pay-btn{padding-top:20px; padding-bottom:33px; border:none;
            p{margin:0 0 16px 0; text-align:center;}
            button{@include display(flex, center, center); column-gap:5px;}
        }
    }
}

/******************************************
플레이스 상세 페이지 - 결제 완료
/components/routes/place/PlacePay_Complete.vue
******************************************/
.payComplete{padding-top:80px;
    &-inner{
        & > div{padding:20px; border-bottom:9px solid #f1f1f1;
            &:last-child{border-bottom:0;}
        }
        // 결제 완료 안내
        .pay-complete-guide{@include completeGuide;}
        .inquiry-list{@include display(flex, center); column-gap:8px; margin:20px 0;
            li{flex:1; min-height:210px; @include display(flex, center, center, column); row-gap:16px; border:1px solid $b; border-radius:8px;
                @include responsive-480{min-height:150px;}
            }
        }
        // 양식
        .ex-inquiry-form{
            &-tit{margin:0 0 16px 0; text-align:center;}
            &-content{padding:20px; background:#F1F1F1; border-radius:8px; text-align:center;
                p{@include display(flex, null, center); @include font(14px, 400);
                    span{font-weight:700;}
                }
                button{min-width:200px; @include conSize(null, 38px, 36px); margin:12px 0 0 0; background:$f; border:1px solid #979797; border-radius:19px; color:$b;}
            }
        }
        // 수강회원 정보
        .member-info{
            &-tit{margin:0 0 10px 0;}
            &-input{
                & > div{@include display(flex); padding:3px 0; @include font(14px, 400);
                    span{width:80px;}
                    div{width:calc(100% - 80px); color:#979797;}
                }
            }
        }
        // 주문상품
        .order-product{@include orderProduct;}
        // 결제 정보
        .order-info{@include orderInfo;}
    }
    // 수강권 등록 모달창
    
}

/******************************************
플레이스 상세 페이지 - 등록 완료
/components/routes/place/PlaceTicket_Complete.vue
******************************************/
.ticket_complete_container{padding-top:80px;
    &_inner{
        & > div{padding:20px; border-bottom:9px solid #f1f1f1;
            &:last-child{border-bottom:0;}
        }
        .ticket-complete-guide{@include completeGuide;
            button{background:$f; border:1px solid $purple; color:$purple; cursor:default; pointer-events:none}
        }
        .order-product{@include orderProduct;}
        .order-info{@include orderInfo;}
    }
}

/******************************************
플레이스 필터
/components/routes/place/Filter.vue
******************************************/
.filter_container{@include conSize(100vw, 100%); @include position(fixed, 0, null, null, 0, 1000); overflow:auto; background:#fff;
    &_inner{
        & > div{padding:20px 0; margin:0 20px; border-bottom:1px solid #D9D9D9;}
        // 수강기간, 가격
        .ticket-date,
        .ticket-expense{
            &-tit{@include display(flex, center, space-between); 
                ul{@include display(flex); column-gap:6px;
                    li{@include conSize(null, 28px, 28px); padding:0 8px; @include font(12px, 400, #D9D9D9); border:1px solid #D9D9D9; border-radius:14px; cursor:pointer;
                        &.active{border-color:$b; color:$b;}
                    }
                }
            }
            &-adjust{
                p{@include display(flex); column-gap:6px; @include font(20px, 700)}
            }
        }
        // 플레이스 타입
        .place-type,
        .etc-opt{
            &-tit{margin:0 0 12px 0;}
            ul{@include display(flex); flex-flow:wrap; gap:4px;
                li{@include liTag; @include font(12px, 400, #D9D9D9);
                &.gender{flex-grow: 1; display:flex; justify-content: center; align-items: center;  height: 32px; }
                }
            }
        }
        // 편의시설
        .facilities{
            &-tit{margin:0 0 18px 0;}
            ul{display:flex; flex-flow:wrap; row-gap:15px;
                li{width:calc(100% / 4); text-align:center; cursor:pointer;
                    .facilities-icon{min-height:40px;
                        @for $i from 1 to 11{
                            &-#{$i}{background:url('@/assets/image/facilities-icon-#{$i}.png') center no-repeat;}
                        }
                    }
                    p{margin:13px 0 0 0; @include font(12px, 400, $gray);}
                    &.active{
                        p{color:$blue;}
                    }
                }
            }
        }
        // 운동기구
        .machine{
            &-tit{margin:0 0 12px 0;}
            &-list{margin-bottom:16px;
                ul{@include display(flex); flex-flow:wrap; gap:4px;
                    li{@include liTag; @include font(12px, 400, #D9D9D9);}
                }
                &:last-child{margin-bottom:0;}
            }
        }
    }
    .filter-bott-btn{@include bottLnb;}
}