/******************************************
플레이스 리스트 
/components/routes/place/PlaceList.vue
******************************************/
.placeList_container{
    &_inner{
        .filter-scroll{@include filterScroll;}
        .PlaceData-form{@include placeList2;}
        .map-move{
            @include conSize(null, 34px, 34px); @include display(flex, center, center); 
            @include position(fixed, null, null, 104px, 50%); transform:translateX(-50%); padding:0 12px 0 7px; 
            background:$f; border:1px solid $b; border-radius:17px; box-shadow:4px 4px 25px rgba(0,0,0, .15);
        }
    }
}

/******************************************
발견(플레이스, 트레이너) 리스트 
/components/routes/place/DiscoverList.vue
******************************************/
.discover_container{position:relative;
    .map{@include conSize(100%, 100%); position:absolute;
        iframe{@include conSize(100%, 100%)}
    }
    &_inner{max-width:100%; padding:34px 0 0 0; background:$f; border-radius:16px 16px 0 0;
        .discover-filter-ul{@include conSize(null, 32px, 29px); max-width:170px; display:-webkit-box;
            margin:0 auto; overflow:visible;
            border:1px solid #D9D9D9; border-radius:16px;
            li{min-width:84px; padding:0 16px;}
            .nav-indicator{height:32px; background:none; border:1px solid $b; border-radius:16px;}
        }
        .place-discover-list,
        .trainer-discover-list{
            .PlaceData-form,
            .TrainerData-form{margin:0 0 16px 0; padding:0 0 16px 0; border-bottom:1px solid #D9D9D9;}
            .filter-scroll{margin:20px 0; padding:0;
                li{color:$b;
                    &:last-child{margin:0;}
                    img{margin:0;}
                }
            }
        }
        .place-discover-list{@include placeList2; border-bottom:0;}
        .trainer-discover-list{@include placeTrainerList2; border-bottom:0;}
    }
}

/******************************************
플레이스 상세 페이지
/components/routes/place/PlaceDetail.vue
/components/routes/trainer/TrainerDetail.vue
******************************************/
.detail_container{
    &_inner{
        & > div{padding:20px; border-bottom:1px solid #D9D9D9;
            &.place-map{padding:0; border:none;}
            &:last-child{margin-bottom:0; border-bottom:0;}
        }
        .place-each-tit{margin:0 0 20px 0;}
        // 지도 보기
        .place-map{
            .swiper-slide{position:relative;
                iframe{@include conSize(100%);
                    @media(min-width:1921px){height:770px;}
                    @media(max-width:1920px){height:50vw}
                    @include responsive-991(){height:100vh;}
                    @include responsive-480(){height:100vw;}
                }
                .place-map-move{@include conSize(100%, 100%); @include display(flex, center, center); @include position(absolute, 0, null, null, 0);}
            }
        }
        // 플레이스 정보
        .place-info{@include display(flex, null, space-between);
            .left-row{
                .place-info-txt{
                    p{@include display(flex); column-gap:5px;}
                    .location{@include display(flex, center); color:#979797;}
                }
                .place-info-scope{@include display(flex, center); column-gap:6px; margin:8px 0;
                    //.starBox{@include display(flex)}
                    .scope-current{@include display(flex);
                        span{color:#979797;}
                    }
                }
                .place-info-filter{@include display(flex); column-gap:5px;
                    li{@include liTag; @include font(12px, 400, #979797);}
                }
            }
            .right-row{@include display(flex); column-gap:20px;
                .heart, .share{cursor:pointer;}
            }
        }
        // 플레이스 상품
        .place-ticket{
            .swiper-slide{min-height:128px; @include display(flex, null, space-between, column); padding:16px; background:#D9D9D9; border-radius:8px;
                div:last-child{@include display(flex, flex-end, null, column);}
                &:last-child{@include allBtn; align-items:center; justify-content:center; background:none;}
                .discount{color:#979797}
            }
        }
        // 이용 후기
        .place-review{padding-right:0;
            &-tit{@include display(flex); column-gap:8px;
                div{@include display(flex, center); column-gap:4px;
                    img{margin:-2px 0 0 0;}
                    p{@include display(flex);}
                }
            }
            &-list{
                .review-write-info{margin:0 0 12px 0;
                    .review-writer{@include display(flex, center); column-gap:8px;
                        span{color:#979797}
                    }
                }
                .review-content{min-height:130px; padding:16px; background:#F1F1F1; border-radius:8px;}
            }
            .review-all-btn{@include aTag; @include conSize(null, 44px, 44px); margin:16px 0 0 0; background:$f; border:1px solid #979797; color:$b;}
        }
        // 플레이스 설명
        .place-explain{min-height:166px; line-height:1.6; position:relative; margin:20px; padding:12px; background:#F1F1F1; border-radius:8px;
            .more{@include more;}
        }
        // 운영시간
        .place-operate{
            &-detail{
                & > *{@include font(12px, 400)}
                & > div{
                    &:first-child{@include display(flex, null, space-between, wrap); column-gap:48px; position:relative; margin:8px 0 12px;
                        div{width:calc(50% - 48px); @include display(flex); column-gap:10px;}
                        &::after{content:''; @include conSize(1px, 32px); @include center(absolute); background:#D9D9D9}
                    }
                    &:last-child{@include display(flex); column-gap:10px;}
                }
            }
        }
        // 편의시설
        .place-convenience{
            .free{margin:0 0 30px 0;
                &-tit{margin:0 0 15px 0;}
                &-list{display:flex; flex-flow:wrap; row-gap:15px;
                    li{width:calc(100% / 6);}
                    p{@include font(12px, 400)}
                }
            }
            .pay{
                &-tit{margin:0 0 15px 0;}
                &-list{display:flex;
                    li{flex:1;}
                    p{@include font(12px, 400)}
                }
            }
        }
        // 운동 기구
        @include placeMachineList;
        .place-machine{position:relative;
            &-all-btn{background:$f; color:$b; border:1px solid #979797;}
            &::before{content:''; width:100%; height:50px; position:absolute; bottom:0;}
        }
        // 1:1 트레이너
        .place-trainer{
            &-tit{@include display(flex, flex-end); column-gap:8px;
                span{color:#979797}
            }
            @include placeTrainerList;
            &-all-btn{@include aTag; @include conSize(null, 44px, 44px); margin:16px 0 0 0; background:$f; border:1px solid #979797; color:$b;}
        }
        // 환불정책
        .place-refunt{
            &-content{@include font(12px, 400);}
            .more{@include more;}
        }
    }
    // 문의하기/운동 선택하기 버튼
    .place-lnb{@include bottLnb; margin-bottom:0; border-bottom:0;
        button{cursor:pointer;}
    }
    
}

/******************************************
플레이스 상세 페이지 - 후기
/components/routes/place/PlaceReview.vue
******************************************/
.PlaceReview_container{
    &_inner{
        .total-scope{@include display(flex, null, space-between); padding:22px 20px; background:$f; border-bottom:8px solid #F1F1F1;
            .left-row{@include display(flex, center); column-gap:5px;
                p{@include display(flex, flex-end); column-gap:5px;
                    span:last-child{color:#979797;}
                }
            }
            .right-row{@include conSize(null, 28px, 28px); position:relative; z-index:10; padding:0 12px; border:1px solid #D9D9D9; border-radius:50px; cursor:pointer;
                li{@include display(flex, center, null, null);
                    span{@include arrow}
                }
            }
        }
        .total-review-form{margin-bottom:4px; padding:20px 0 24px; border-bottom:8px solid #F1F1F1;
            & > div{padding:0 20px;}
            .review-writer{@include WriterInfo;}
            .review-content{
                .member-review{
                    &-img{@include conSize(156px, 156px); margin:20px 0 0 0; border-radius:8px; background:#D9D9D9;}
                }
                .place-answer{padding:12px; margin:24px 0 0 0; background:#F1F1F1; border-radius:8px;
                    p{@include display(flex, flex-end); column-gap:8px; margin:0 0 10px 0;
                        span{color:#979797;}
                    }
                }
            }
            &:last-child{margin-bottom:0; border:none}
        }
    }
}

/******************************************
플레이스 상세 페이지 - 운동기구
/components/routes/place/PlaceMachine.vue
******************************************/
.PlaceMachine_container{
    &_inner{
        .PlaceMachine-form{@include placeMachineList;}
    }
}

/******************************************
플레이스 상세 페이지 - 1:1 트레이너
/components/routes/place/PlaceTrainer.vue
******************************************/
.PlaceTrainer_container{
    &_inner{display:grid; grid-template-columns:repeat(2,1fr); column-gap:8px; row-gap:20px;
        .place-trainer-list{@include placeTrainerList; }
    }
}

/******************************************
플레이스 상세 페이지 - 운동 선택하기
/components/routes/place/PlaceMachine_Choice.vue
******************************************/
.PlaceMachine_Choice_container{
    &_inner{padding:0 20px;
        .PlaceMachine-Choice-form{
            .PlaceMachine-list-layout{
                & > div{line-height:1; @include font(16px, 700)}
                ul{@include display(flex); flex-flow:column; row-gap:8px; margin:16px 0 0 0;
                    li{@include display(flex, center, space-between); padding:12px 14px; background:#D9D9D9; border-radius:8px;
                        .each-tit{@include display(flex, center); column-gap:12px;}
                        .check-current{@include conSize(24px, 24px); @include display(flex, center, center); background:#F1F1F1; border-radius:50%;
                            span{@include conSize(12px, 12px); background:$b; border-radius:50%;}
                        }
                        .discount{@include font(12px, 400, #979797);}
                        .pay{text-align:right;}
                        &.flex-flow{min-height:130px; align-items:initial; justify-content:space-between; flex-flow:column;
                            .bott-row{ @include display(flex, flex-end, null, column)}
                        }
                    }
                }
                &.mp{margin-bottom:16px; padding-bottom:16px; border-bottom:1px solid #D9D9D9;
                    &:last-child{margin-bottom:0; padding-bottom:20px; border-bottom:none;}
                }
            }
            &-tit{padding:20px 0 16px; margin-bottom:16px; border-bottom:1px solid #D9D9D9;
                span{margin:5px 0 0 0;}
            }
        }
    }
    .bott-pay-btn{width:100%; @include position(fixed, null, null, 0, 0, 99); padding:16px 20px 32px; background:$f; border:1px solid #F1F1F1; border-radius:16px 16px 0 0; box-shadow:0 -1px 22px rgba(0,0,0, .1);
        .place-name{margin:0 0 12px 0; text-align:center}
        .choice-machine-list{margin:0 0 12px 0; padding:0 0 12px 0; border-bottom:1px solid #D9D9D9;
            li{@include conSize(null, 36px, 1); @include display(flex, center); margin:0 0 4px 0; padding:0 16px; background:#F1F1F1; border-radius:8px;
                div{@include display(flex, center);
                    .discount{color:#979797}
                    div:last-child{column-gap:8px;}
                }
                .close{@include conSize(15px, 15px); @include display(flex, center, center); position:relative; margin:0 0 0 9px; cursor:pointer;
                    &::before, &::after{content:''; @include conSize(100%, 1px); position:absolute; background:$b;}
                    &::before{transform:rotate(45deg)}
                    &::after{transform:rotate(-45deg)}
                }
                & > div{
                    &:first-child{width:100%; justify-content:space-between;}
                }
                &:last-child{margin:0;}
            }
        }
        .total-pay{
            div{@include display(flex);
                div{justify-content:space-between;}
                .lightgray{color:#979797;}
            }
            & > div{flex-flow:column;}
            a{@include aTag; @include conSize(null, 44px, 44px); background:#D9D9D9; color:#979797; border:none;}
        }
    }
}

/******************************************
플레이스 상세 페이지 - 결제하기
/components/routes/place/PlacePay.vue
******************************************/
.PlacePay_container{
    &_inner{
        & > div{padding:0 20px; border-bottom:6px solid #F1F1F1;}
        // 주문상품
        .choice-product{@include display(flex, center, space-between); padding-top:20px; padding-bottom:20px;}
        // 수강회원 정보
        .member-info{padding-top:16px; padding-bottom:16px;
            &-tit{margin:0 0 16px 0;}
            &-input{
                & > div{@include display(flex, center); margin:0 0 8px 0;
                    &:last-child{margin:0;}
                }
                span{width:80px;}
                .form-group{width:calc(100% - 80px);
                    input{@include conSize(null, 32px, 32px); padding:0 10px; background:#F1F1F1; border-radius:16px;
                        &:focus{border:none;}
                    }
                }
            }
        }
        // 쿠폰
        .coupon{padding-top:20px; padding-bottom:20px;
            &-tit{margin:0 0 10px 0;}
            &-list{width:100%; position:relative; cursor:pointer;
                & > li{@include conSize(100%, 48px, 48px); @include display(flex, center, space-between); position:relative; padding:0 16px; border:1px solid #979797; border-radius:8px; background:#F1F1F1;
                    .arrow{@include conSize(9px, 8px); @include display(flex, center); position:relative; 
                        &::before, &::after{content:''; @include conSize(100%, 1px); position:absolute; background:#979797; transition:all .15s $easing;}
                        &::before{right:6px; transform:rotate(45deg)}
                        &::after{transform:rotate(-45deg)}
                    }
                }
                ul{width:100%; position:absolute; z-index:99; margin:10px 0 0 0; padding:0 16px; opacity:0; visibility:hidden; background:$f; border-radius:8px; box-shadow:0 3px 10px rgba(0,0,0, 0.05); transition:all .15s $easing;
                    li{padding:8px 0; @include font(14px, 400);}
                }
                &.couponOpen{
                    & > li .arrow{margin:-1px 0 0 0;
                        &::before{transform:rotate(-45deg)}
                        &::after{transform:rotate(45deg)}
                    }
                    ul{opacity:1; visibility:visible;}
                }
            }
        }
        // 결제수단
        .payment-method{padding-top:16px; padding-bottom:20px;
            .method{margin:0 0 10px 0; padding:0 0 10px 0; border-bottom:1px solid #F1F1F1;
                &:last-child{margin:0;}
            }
            &-tit{margin:0 0 13px 0;}
            .top-row{@include display(flex, null, space-between);
                .left-column{@include display(flex, center); column-gap:8px; cursor:pointer;
                    .check-current{@include conSize(24px, 24px); background:#F1F1F1; border:1px solid #D9D9D9; border-radius:50%;}
                }
            }
            .my-card{
                .top-row{margin:0 0 17px 0;}
                .swiper-container{padding:0 0 0 75px;}
                &-edit{@include conSize(null, 24px, 24px); padding:0 8px; border:1px solid #979797; border-radius:12px; color:#979797; cursor:pointer;}
            }
        }
        // 결제금액
        .amount-pay{padding-top:16px; padding-bottom:24px;
            &-tit{margin:0 0 14px 0;}
            &-list{
                & > div{@include display(flex, null, space-between); padding:3px 0;}
                .discount-history{
                    li{@include display(flex, null, space-between); padding:3px 0; color:#979797;
                        span{@include conSize(6px, 6px); margin:3px 7px 0 0; border:1px solid #979797; border-top:0; border-right:0;}
                        div{@include display(flex)}
                    }
                }
            }
            &-total{@include display(flex, center, space-between);
                .total-amount{@include display(flex, flex-end);
                    span{margin:0 0 2px 0;}
                }
            }
        }
        // 약관동의
        .pay-terms{padding-top:17px; padding-bottom:17px; border-bottom:1px solid #F1F1F1;
            & > div{@include display(flex, flex-end, space-between); padding:3px 0;
                a{color:#979797}
            }
        }
        // 결제하기
        .last-pay-btn{padding-top:20px; padding-bottom:33px;
            p{margin:0 0 16px 0; text-align:center;}
            button{@include aTag; @include conSize(null, 44px, 44px); column-gap:5px;}
        }
    }
}

/******************************************
플레이스 상세 페이지 - 결제 완료
/components/routes/place/PlacePay_Complete.vue
******************************************/
.PlacePayComplete_container{
    &_inner{
        & > div{padding:20px; border-bottom:9px solid #f1f1f1;
            &:last-child{border-bottom:0;}
        }
        // 결제 완료 안내
        .pay-complete-guide{@include completeGuide;}
        // 수강회원 정보
        .member-info{
            &-tit{margin:0 0 10px 0;}
            &-input{
                & > div{@include display(flex); padding:3px 0; @include font(14px, 400);
                    span{width:80px;}
                    div{width:calc(100% - 80px); color:#979797;}
                }
            }
        }
        // 주문상품
        .order-product{@include orderProduct;}
        // 결제 정보
        .order-info{@include orderInfo;}
    }
    // 수강권 등록 모달창
    .PlacePayComplete_modal{@include conSize(100%, 100%); @include display(flex, flex-end); @include position(fixed, 0, null, null, 0, 99); opacity:0; visibility:hidden; transition:all .3s $easing;
        .overlay{@include overLay;}
        &_inner{width:100%; position:relative; bottom:-100%; padding:39px 20px 31px; background:$f; border:1px solid #D9D9D9; border-radius:16px 16px 0 0; text-align:center; transition:all .8s $easing;
            .txt-box div{margin:0 0 8px 0;}
            .datePicker{margin:20px 0 24px;
                .apply{@include conSize(null, 48px, 48px); @include display(flex, flex-end, center); background:#F1F1F1; border:1px solid $b; border-radius:24px;
                    p{@include display(flex, flex-end); @include font(14px, 400);
                        span{@include font(18px, 700);}
                        &:nth-child(2){margin:0 16px;}
                    }
                }
            }
            .apply-btn{@include display(flex); column-gap:8px;
                button{@include aTag; @include conSize(null, 44px, 44px); margin:0; cursor:pointer;
                    &:first-child{background:$f; border:1px solid $b; color:$b;}
                }
            }
        }
        &.openTicketModal{opacity:1; visibility:visible;
            .PlacePayComplete_modal_inner{bottom:0;}
        }
    }
}

/******************************************
플레이스 상세 페이지 - 등록 완료
/components/routes/place/PlaceTicket_Complete.vue
******************************************/
.ticket_complete_container{
    &_inner{
        & > div{padding:20px; border-bottom:9px solid #f1f1f1;
            &:last-child{border-bottom:0;}
        }
        .ticket-complete-guide{@include completeGuide;
            button{background:#D9D9D9; color:#979797; cursor:default; pointer-events:none}
        }
        .order-product{@include orderProduct;}
        .order-info{@include orderInfo;}
    }
}

/******************************************
플레이스 필터
/components/routes/place/Filter.vue
******************************************/
.filter_container{
    &_inner{
        & > div{padding:20px 0; margin:0 20px; border-bottom:1px solid #D9D9D9;}
        // 수강기간, 가격
        .ticket-date,
        .ticket-expense{
            &-tit{@include display(flex, center, space-between); 
                ul{@include display(flex); column-gap:6px;
                    li{@include conSize(null, 28px, 28px); padding:0 8px; @include font(12px, 400, #D9D9D9); border:1px solid #D9D9D9; border-radius:14px; cursor:pointer;
                        &.active{border-color:$b; color:$b;}
                    }
                }
            }
            &-adjust{
                p{@include display(flex); column-gap:6px; @include font(20px, 700)}
            }
        }
        // 플레이스 타입
        .place-type,
        .etc-opt{
            &-tit{margin:0 0 12px 0;}
            ul{@include display(flex); flex-flow:wrap; gap:4px;
                li{@include liTag; @include font(12px, 400, #D9D9D9);
                &.gender{flex-grow: 1; display:flex; justify-content: center; align-items: center;  height: 32px; }
                }
            }
        }
        // 편의시설
        .facilities{
            &-tit{margin:0 0 18px 0;}
            ul{display:grid; grid-template-columns:repeat(4,1fr); column-gap:12px; row-gap:8px;
                li{min-height:84px; border:1px solid #D9D9D9; border-radius:8px;
                    p{@include font(12px, 400);}
                }
            }
        }
        // 운동기구
        .machine{
            &-tit{margin:0 0 12px 0;}
            &-list{margin-bottom:16px;
                ul{@include display(flex); flex-flow:wrap; gap:4px;
                    li{@include liTag; @include font(12px, 400, #D9D9D9);}
                }
                &:last-child{margin-bottom:0;}
            }
        }
    }
    .filter-bott-btn{@include bottLnb;}
}